@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jim+Nightshade&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


hr, .headerrf img {
    display: none;
}
footer{
    color: white;
    margin-top: 10vw;
    /* z-index: 112; */
    gap: 3.6666vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.97727vw;
    margin-right: 3.97727vw;
}
.hyperlinksrf a{
    text-decoration: none;
    transition: all 0.3s;
    color: white;
}
.hyperlinksrf a:hover {
    display: flex;
    flex-direction: column;
    transform: scale(0.95); 

}
.hyperlinksrf{
    margin-top: 1.04166vw;
    display: flex;
    flex-direction: column;
    gap: 1.04166vw;
}



.accountrf, .socialrf{
    width: 16%;
}

.accountrf .headerrf{
    display: flex;
}

.belowrf{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.belowrf img{
    width: 5vw;
}
.togglerf {
    display: none;
}
.iconsrf{
    margin-top: 1.04166vw;
    display: flex;
    flex-direction: row;
    gap: 1.3888vw;

}
.iconsrf img{
    width: 2vw;
}
.belowrf h3{
    font-weight: 200;
}

@media (max-width: 950px){
    .accountrf, .socialrf{
        width: 30%;
    }
}
@media (max-width: 644px){
    .accountrf, .socialrf{
        width: 39%;
    }
    .iconsrf img{
        margin-top: 3.4090vw;
        height: 8vw;
        width: auto;
    }
    .iconsrf{
        gap: 4.5454vw;
    }
.belowrf img{
    height: 9vw;
    width: auto;
}
.belowrf h3{
    font-size: 1em;
}

}
@media (max-width: 440px){
    .belowrf img{
        height: 22.727vw;
        width: auto;
    }
    footer{
        /* border: red 2px solid; */
        display: flex;
        justify-content: center;
    }
}