html{
    scroll-behavior: smooth;
}
.hero-img-stuff img{ 
    width: 100vw;
    height:  auto;
}
.hero-img { 
    /* margin-top: 6.944vw; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

}
.hero-img-textcontent {
    margin-top: 16.667vw;
    margin-left: 7.153vw;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-wrap: wrap;
    width: fit-content;
}
.hero-img-textcontent h1 { 
    font-size: 4.9rem;
    color: #0073E6;
    margin: 0;
    width: fit-content;
}
.hero-img-textcontent p {
    font-weight: 500;
    font-size: 2.5rem;
    width: 27vw;
    margin: 0;
}
.hero-button-cont { 
    display: flex;
    flex-direction: row;
}

.herobuttons {  
    font-weight: 600;
    text-decoration: none;
    color: white;   
    
    display: flex;
    margin-top: 2.708vw;
    align-items: center;
    
}
.herobuttons p { 
    margin-left: 1.319vw;
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
}

#build-button { 
    margin-left:.972vw; 
    background-color: #0073E6;
    border: solid #0073E6;
    width:11.944vw;
    height: 4.513vw;
}
#discovermore-button { 
    border: solid #0073E6;
    width: 22.222vw;
    height: 4.513vw;
/* height: 50%; */
    /* height: 50vw; */
    
}

.rfa { 
    /* height: 2.393vw; */
    margin-left: 2.264vw;
}




.car-quick-desc { 
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 36.875vw;
}
.overlayed-photos {
    width: 45.625vw;
    display: flex;

}

.overlayed-photos img { 
    height: 21.597vw;
    position: absolute;
}
#overlayed-photo1 { 
    margin-top: 4.513vw;
    margin-left: 5.972vw;
    box-shadow: 0px 0px .25rem black;
}
#overlayed-photo2 { 
    margin-top: 15.278vw;
    margin-left: 16.181vw;
    box-shadow: 0px 0px .25rem black;
}
.car-quick-desc article { 
    display: flex;
    flex-direction: column;
    width: 47.5vw;
}
.car-quick-desc h2 { 
    margin:0;
    margin-top: 4.513vw;
    font-size: 4.5rem;
}

.car-quick-desc article > p {
    font-size: 2.75rem;
    width: 90%;
    line-height: 4.625rem;
}

.exclusivity-counter { 
    width: 87.917vw;
    height: 20.069vw;
    display: flex;
    flex-direction: row;
    background-color: #003B76;
    margin-left: 5.972vw;
    margin-top: 10.763vw;
}

.remaining { 
    display: flex;
    width: 22.083vw;
    justify-content: flex-end;
    align-items: center;
}

.remaining img {
    width: 19.514vw;
    height: 19.514vw;
}
.exclusivity-counter article { 
    display: flex;
    flex-direction: column;
    margin-top: 1.111vw;
    margin-left: 4.931vw;
    width: 47.5vw;
}
.exclusivity-counter article h2 { 
    font-size: 4.5rem;
    margin: 0;
    font-weight: 600;
}
.exclusivity-counter article p {
    font-size:  1.25rem;
    line-height: 2.813rem;
    font-weight: var(--light);
    margin-top: 1.389vw;
}
.exclusivity-counter .rightarrow img { 
    height: 11.528vw;
    margin-left: 2.986vw;
}
.exclusivity-counter .rightarrow {
    display: flex;
    align-items: center;
}



.sideview-car-showcase { 
    margin-top: 6.319vw;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.sideview-car-showcase > img{ 
    width: 100%;
}
.sideview-car-showcase .customize-cont { 
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #0073E6;
    align-self: flex-end;
    margin-top: 28.056vw;
    width: 17.917vw;
    height: 4.513vw;
    margin-right: 2.153vw;
}
#customize-button { 
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: center;
    color: white;
    text-decoration: none;
    /* width: fit-content; */
    /* width: 30vw; */
    /* padding-left: 1.319vw; */
    /* padding-right: 1.319vw; */
}

#customize-button p { 
    margin:0;
    margin-left: 1.319vw;
    line-height:normal;
    font-size: 2.5rem;
    /* width: fit-content; */
}
#customize-button .rfa {
    height: 2.394vw;
    width: 1.449vw;
    margin: 1vw;
}

.nem-name { 
    margin-top: 2.708vw;
    width: 25.208vw;
    height: 2.778vw;
    background-color: #003B76;
    display: flex;
    position: absolute;
    align-self: flex-start;
    align-items: center;
    justify-content: center;

}
.nem-name p { 
    margin: 0;
    color: white;
    font-size: 1.875rem;
}

.bw-name { 
    margin-top: 2.708vw;
    width: 25.208vw;
    height: 2.778vw;
    background-color: #003B76;
    display: flex;
    position: absolute;
    align-self: flex-start;
    align-items: center;
    justify-content: center;

}
.bw-name p { 
    margin: 0;
    color: white;
    font-size: 1.875rem;
}

.s-header { 
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 21.181vw;
    color: white;
    align-items: center;
    justify-content: flex-start;
    font-size: 3.5rem;
}
.s-header h2 { 
    margin-left: 5.972vw;
}
.down-arrow{
    display: none;
}
.s-card-cont { 
    display: flex;
    flex-direction: row;
    height: 28.264vw;
    width: 91.917vw;
    margin-left: 5.972vw;
}

.s-card { 
    display: flex;
    height: 28.264vw;
    width: 33.33%;
}
.s-card article {
    display: flex;
    flex-direction: column;
}
#s-card-1 img { 
    height: 8.333vw;
    width: 8.333vw;
}
#s-card-2 img { 
    height: 8.333vw;
    width: 8.333vw;
}
#s-card-3 img { 
    height: 8.333vw;
    width: 8.333vw;
}
.s-card h3 { 

    font-size: 2.5rem;
    margin: 0;
    margin-top: 1.25vw;
}
.s-card article > p {
    font-size: 2rem;
    width: 24.514vw;
    height: 8.333vw;
    font-weight: 300;
}
#learnmore { 
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 19.027vw;
    height: 4.514vw;
    border-style: solid;
    border-color:#0073E6;
    margin-top: 8vw;
}

#learnmore p { 
    margin:0;
    margin-left: 1.319vw;
    line-height:normal;
    font-size: 2rem;
    width: fit-content;
    font-weight: 600;
}
#learnmore .rfa {
    height: 2.394vw;
    width: 1.449vw;
}


.merch-cont { 
    margin-top: 10.694vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 52.083vw;
}

.merch-left { 
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60.556vw;
    height: 52.083vw;
}
.merch-left article { 
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 14.444vw;
    margin-left: 5.972vw;
}
.merch-left h2 { 
    margin: 0;
    line-height: normal;
    color: #0073E6;
    font-size: 4.5rem;
    font-weight: 600;
    width: 28.543vw;
}
.merch-left article > p {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    width: 29.167vw;
    margin: 0;
}
.merch-left img {
    width: 100%;
}

#shopmerch { 
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 26.389vw;;
    height: 4.514vw;
    border-style: solid;
    border-color:#0073E6;
    margin-top: 2.014vw;
}

#shopmerch p { 
    margin:0;
    margin-left: 1.181vw;
    line-height:normal;
    font-size: 2rem;
    width: fit-content;
    font-weight: 600;
}
#shopmerch .rfa {
    height: 2.394vw;
    width: 1.449vw;
}

.merch-right { 
    display: flex;
    flex-direction: column;
    width: 39.444vw;

}
.merch-right a {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
 }
 .merch-right p { 
    position: absolute;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
 }
 .merch-right img { 
    width: 100%;
 }


 .about-us { 
    margin-top: 10.694vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
 }

 .about-us > img{ 
    width: 100vw;
 }

 .about-us article { 
    margin-top: 11.944vw;
    margin-left: 5.972vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
 }
 .about-us article h2 { 
    margin: 0;
    color: #0073E6;
    font-size: 4.5rem;
    font-weight: 600;
 }
 .about-us article > p { 
    font-size: 2.5rem;
    color: white;
    width: 34.097vw;
    margin: 0;
 }

 #aboutus { 
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 16.458vw;
    height: 4.514vw;
    border-style: solid;
    border-color:#0073E6;
    margin-top: 2.083vw;
}

#aboutus p { 
    margin:0;
    margin-left: 1.181vw;
    line-height:normal;
    font-size: 2rem;
    width: fit-content;
    font-weight: 600;
}
#aboutus .rfa {
    height: 2.394vw;
    width: 1.449vw;
}
.herobuttons:hover {
    scale: .95; 
}
.customize-cont:hover {
    scale: .95; 
}
#learnmore:hover {
    scale: .95; 
}











@media (max-width: 1024px) {
    :root { 
        font-size: 9px !important;
    }
    .herobuttons p { 
        width: fit-content;
    }
    .rfa {
        margin-left: 1.5vw;
    }
    #customize-button .rfa {
        height: 3.5vw;
        width: auto;
        margin: 0;
        margin-left: 1vw;
    }
}
@media (max-width: 780px) {
    .hero-img h1 {
        line-height:5rem;

    }
    .car-quick-desc article > p { 
        font-size: 2rem;
    }
    .herobuttons p { 
        font-size: 1.6rem;
    }
    .rfa { 
        height: 4vw;
    }
    .hero-img-textcontent > p { 
        width: 35vw;
    }
    #customize-button p { 
        font-size: 1.8rem;
    }
    .s-card article > p { 
        font-size: 1.4rem;
    }
    .s-card article {
        height: fit-content;
    }
    .s-card article h3 { 
        font-size: 1.8rem;
    }
    #shopmerch { 
        width: fit-content;
    }
    .merch-left article > p {
        width: 40vw;
    }
}
@media (max-width: 440px) {
    :root {
        font-size: 16px !important;
    }
    
    
    .hero-img-textcontent {
        margin-top: 70vw;
        width: 75.9090vw;
        margin-left: 5.454vw;
    }
    .hero-img-textcontent h1 {
        font-size: 2.625rem  ;
    }
    .hero-img-textcontent p {
        font-size: 1.375rem  ;
        width:75.9090vw;
    }
    .hero-img-stuff img { 
        height: 199.31vw;
        width: auto;
    }
    .hero-img-stuff { 
        margin-left: -87.5vw;
    }
    .hero-button-cont { 
        flex-direction: column;
    }
    .herobuttons p {
        margin-left: 4.31818vw;
        width: fit-content;
        font-size: 1.5rem  ;;
    }
    #discovermore-button { 
        width: 57.727vw;
        height: 12.5vw;
    }
    #build-button {
        margin-left: 0;
        width: 33.8636vw;
        height: 12.5vw;
    }
    .rfa {
        width: 4.0454vw;
        height: 6.6295vw
    }
    .herobuttons .rfa {
        margin-left: 4.5454vw;
    }
    .car-quick-desc {
        flex-direction: column;
        height: 203.1818vw;
        width: 100vw;
    }
    .overlayed-photos { 
        width: 100vw;
        display: flex;
        height: 112.2727vw;
    }
    .overlayed-photos img {
        width: 69.429vw;
        height: 69.429vw;
    }
    #overlayed-photo1 { 
        margin-top: 6.3636vw;
        margin-left: 5.909vw;
    }
    #overlayed-photo2 { 
        margin-top: 42.7272vw;
        margin-left: 24.772vw;
    }
    .car-quick-desc article { 
        width: 88.18181vw;
        margin-left: 5.909vw;
    }
    .car-quick-desc article > p {
        width: fit-content;
        font-size: 1.5rem  ;;
        line-height: 2.1875rem;
        height: 31.8181vw;
    }
    .car-quick-desc article h2 {
        font-size: 3rem  ;;
    }
    .exclusivity-counter {
        height: 140vw;
        width: 100vw;
        margin: 0;
        flex-direction: column;
    }
    .remaining { 
        height: 70.68181vw;
        width: 100vw;
        justify-content: center;
        align-items: flex-end;
    }
    .remaining img {
        width: 63.8636vw;
        height: 63.8636vw;
    }
    .exclusivity-counter article { 
        width: 88.18181vw;
    }
    .exclusivity-counter article h2 { 
        font-size: 3rem   ;;
    }
    .exclusivity-counter article p {
        font-size: 1.5rem  ;;
        line-height: 2.1875rem;
    }
    .exclusivity-counter .rightarrow {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10.454545vw;

    }
    .exclusivity-counter .rightarrow a {
        border: solid #0073E6;
        margin: 0;
        padding: 0;
    }
    .exclusivity-counter .rightarrow a img {
        margin-right: 2.564vw;
        margin-bottom: -1vw;
    }
    .sideview-car-showcase { 
        height: 62.954545vw;
        background: linear-gradient(to right, black, transparent, black);
        justify-content: space-between;
    }
    .sideview-car-showcase img { 
        margin-top: 6vw;
    } 
    .sideview-car-showcase .customize-cont { 
        position: relative;
        width: 49.09090vw;
        height: 12.5vw;
        margin: 0;
    }
    .nem-name {
        order: -1; 
        position: relative;
        margin: 0;
        width: 38.636vw;
        height: 8.409090vw;
    }
    .nem-name p {
        font-size: 1.5rem  ;;
    }
    #customize-button p {
        font-size: 1.5rem  ;;
        margin-left: 4.318181vw;
    }
    #customize-button .rfa { 
        width: 4.0454vw;
        height: 6.6295vw;
        margin: 0;
        margin-left: 1.5rem  ;;

    }
    .bw-showcase { 
        background: none;

    }
    .bw-name {
        order: -1; 
        position: relative;
        margin: 0;
        width: 38.636vw;
        height: 8.409090vw;
    }
    .bw-name p {
        font-size: 1.5rem  ;
    }

    .bw-showcase > img { 
        margin: 0;
        height: 100%;
        width: auto;
        margin-left: -60vw;
    }

    .bw-showcase .customize-cont {
        position: absolute; 
        margin: 0;
        margin-top: 49.545454vw;
        margin-right: 0.9090vw;
    }
    .bw-showcase .bw-name { 
        position: absolute;
        margin: 0;
    }
    .s-header { 
        display: flex;
        height: 47.9545vw;
    }
    .s-header h2 { 
        align-self: flex-end;
        font-size: 3rem  ;
        margin: 0;
        text-align: center;
    }
    .s-card-cont {
        display: flex;
        flex-direction: column;
        height: 287.0454vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100vw;
    }
    .s-card { 
        width: 75.227vw;
        height: 78.636vw;
        margin-top: 1rem;
    }
    .s-card article {
        width: 75.227vw;
        height: 78.636vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s-card article h3 {
        font-size: 2rem  ;
        text-align: center;
        height: fit-content;
    }
    .s-card article > p {
        width: 75.227vw;
        height: fit-content;
        font-size: 1.5rem  ;
        text-align: center;
        
    }
    #learnmore { 
        width: 49.77272vw;
        height: 12.5vw;
        align-self: center;
    }
    #learnmore p {
        font-size: 1.5rem  ;
        margin-left: 4.3181vw;
    }
    #learnmore .rfa { 
        width: 4.0454vw;
        height: 6.6295vw;
        margin-left: 4.3181vw;
    }
    
    #s-card-1 article > img {
        height: auto;
        width: 25vw;
    }
    #s-card-2 {
        margin-top: 18.8636vw;
    }
    #s-card-2 article > img  { 
        width: 25vw;
        height: auto;
    }
    #s-card-3 {
        margin-top: 18.8636vw;
    }
    #s-card-3 article > img {
        width: 25vw;
        height: auto;
    }
    .merch-cont { 
        flex-direction: column;
        width: 100vw;
        height: 174.772727vw;
    }
    .merch-left { 
        width: 100vw;
        height: 86.204545vw;
    }
    .merch-left article h2 {
        font-size: 3rem  ;
        width: fit-content;
    }
    .merch-left article > p {
        font-size: 1.5rem  ;
        width: 60vw;
    }
    #shopmerch p {
        font-size: 1.5rem  ;
        margin-left: 4.318181vw;
    }
    #shopmerch { 
        width: 68.8636vw;
        height: 12.5vw;
    }
    #shopmerch .rfa { 
        width: 4.0454vw;
        height: 6.6295vw;
        margin-left: 3.409vw;
    }



    .merch-right {
        width: 100vw;
    }
    .merch-right a img {
        display: none;
    }
    .merch-right a p { 
        align-self: flex-end;
        margin-bottom: 9.0909vw;
        font-size: 2rem  ;
        margin-right: 3.8636vw;
    }

    .merch-right .men-link {
        background: url(../images/home/menmerch.jpg);
        width: 100vw;
        height: 29.545454vw;
    }
    .merch-right .women-link {
        background-image: url(../images/home/womenmerch.jpg);
        width: 100vw;
        height: 29.545454vw;
    }
    .merch-right .accessories-link {
        background-image: url(../images/home/accessoriesmerch.jpg);
        width: 100vw;
        height: 29.545454vw;
    }
    .about-us { 
        height: 86.2045vw;
        width: 100vw;
        background-image: url(../images/home/aboutusUX.jpg);
    }
    .about-us > img {
        display: none;
    }
    .about-us article {
        margin-top: 20.68181vw;
        margin-left: 5.909090vw;
    }
    .about-us article h2 { 
        font-size: 3rem  ;
        
    }
    .about-us article > p { 
        font-size: 1.5rem  ;
        width: 85vw;
    }
    #aboutus {
        width: 43.63636vw;
        height: 12.5vw;
    }
    #aboutus p {
        font-size: 1.5rem  ;
        margin-left: 4.3181vw;
    }

    #aboutus .rfa {
        width: 4.0454vw;
        height: 6.6295vw;
        margin-left: 4.3181vw;
    }

    
    
    .down-arrow{
        display: flex;
        
        height: auto;
        width:  auto;
    }
    #downarrowlink { 
        height: fit-content;
        width: fit-content;
        align-self:  center;
        margin-top: 30vw;
    }
    .exclusivity-counter .rightarrow{
        display: none;
    }
    .hero-button-cont { 
        width: 90vw;
        height: fit-content;
    }
    
}






