* {
    color: white;
}
body{
    overflow-x: hidden !important;
    /* overflow: hidden !important; */
}
.banner-cont { 
    width: 99vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner-cont h1 {
    position: absolute;
    text-align: center;
    align-self: center; 
    /* margin:0; */
    margin-top: 6.944vw;
    /* line-height: normal; */
    font-size: 72px;

}


.sideview-car-showcase { 
    margin-top: 6.319vw;
    display: flex;
    flex-direction: column;
}
.sideview-car-showcase img{ 
    width: 99vw;
}
.sideview-car-showcase .change-cont { 
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #0073E6;
    align-self: flex-end;
    margin-top: 28.056vw;
    width: 14.8611vw;
    height: 4.513vw;
    margin-right: 2.153vw;
}
#change-button { 
    display: flex;
    flex-direction: row;
    margin:0;
    gap: 1vw;
    align-items: center;
    color: white;
    text-decoration: none;
    width: fit-content;
    
}

#change-button p { 
    margin:0;
    margin-left: 1.319vw;
    line-height:normal;
    font-size: 2.5rem;
    width: fit-content;
}
#change-button .rfa {
    height: 2.394vw;
    width: 1.449vw;
    /* margin-left: 2.264vw; */
}

.selection-name { 
    margin-top: 2.708vw;
    width: 25.208vw;
    height: 2.778vw;
    background-color: #003B76;
    display: flex;
    position: absolute;
    align-self: flex-start;
    align-items: center;
    justify-content: center;

}
.selection-name p { 
    margin: 0;
    color: white;
    font-size: 1.875rem;
}

.price-rev-cont { 
    display: flex;
    flex-direction: column;
}


/* functionality for the exterior selection */
.options {
    display: flex;
    margin-left: 5.4vw;
    gap: 2.9vw;
    margin-top: 2.4vw;
}
.options h2{
    font-size: 2rem;
    font-weight: var(--semi-bold);
}
.options h3{
    font-size: 2rem;
    font-weight: var(--semi-bold);
}






.black-color{
    height: 4.6vw;
    aspect-ratio: 1/1;
    background-color: black;
    border: 3px solid white;
}
.pumice{
    /* height: 10vw; */
    background-color: #BABCB7;
}
.color-options .body,
.color-options .rim{
    margin-top: 3.4vw;
    margin-left: 5.3vw;
    margin-right: 5.3vw;
    display: flex;
    justify-content: space-between;
    gap: 2vw !important;
}
.lower-info{
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: 10vw; */
    /* height: 7.5vw; */
    width: auto;
}
.lower-info .content{
    margin-left: 1.2vw;
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    justify-content: space-between;
}
.lower-info h3{
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
}
.lower-info h4{
    font-size: 1.5rem;
    font-weight: var(--light);
}

.body a,
.rim a{
    text-decoration: none;
    font-weight: var(--light);
    font-size: 1rem;
    height: 100%;
    /* border: var(--border2); */
    /* margin-left: 15vw; */
    display: flex;
    justify-self: flex-end;
    margin-bottom: 7vw;
}
.options h2,
.options h3{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
}










#body:checked ~ .options label h2,
#rim:checked ~ .options label h3,
#seat:checked ~ .options label h2,
#stitching:checked ~ .options label h3
{
    transition: all 0.3s ease-in-out;
}
#body:checked ~ .body,
#rim:checked ~ .rim,
#seat:checked ~ .seat,
#stitching:checked ~ .stitching{
    display: block;
}
#body:checked ~ .options label[for="body"] h2,
#rim:checked ~ .options label[for="rim"] h3
{
    /* text-decoration: underline; */
    text-decoration-color: white;
    /* border: var(--border2); */
}

.color-options .body,
.color-options .rim,
.color-options .seat,
.color-options .stitching{
    display: none;
}















.box-name-money-cont { 
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 7.291vw;
    align-items: center;
}

.body-rim-color-tabs p { 
    font-size: 40px;
    font-weight: 600;
}
.body-rim-color-tabs p:nth-child(1) { 
    margin-left: 5.3472vw;
}
.body-rim-color-tabs p:nth-child(2) { 
    margin-left: 2.9166vw;
}

.color-box { 
    background-color: black;
    width: 4.652vw;
    height: 4.652vw;
    margin-left: 5.3472vw;
    border: white 2px solid;
}
.color-box2 { 
    background-color: #BABCB7;
    width: 4.652vw;
    height: 4.652vw;
    margin-left: 5.3472vw;
    border: white 2px solid;
}
.color-name-money { 
    margin-left: 1.527vw;
}
.color-name-money p:first-child {
    font-size: 32px;
    font-weight: 500;
}
.color-name-money p:nth-child(2) { 
    font-size: 32px;
    font-weight: 300;
}
.box-name-money-cont .edit{ 
    display: flex;
    width: 80.902vw;
    justify-content: flex-end;
    margin-right: 5.2083vw;
}

.order-summary-head {
    height: 16.8055vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order-summary-head h2{ 
    margin-top: 6.1805vw;
    margin-bottom: 5.069vw;
    font-size: 72px;
    font-weight: 600;
}

.summary-review {
    height: 35.8333vw;
    display: flex;
    flex-direction: row;
    width: 99vw;
}
.summary-left { 
    width: 32.9861vw;
    display: flex;
    flex-direction: column;
}
.summary-right .legalthing { 
    flex-wrap: wrap;
    text-wrap: wrap;
}

























/* input[type="checkbox"]{
    display: block !important;
} */


.more p{
    font-size: 1.5rem;
    font-weight: var(--light);
}

.more .long{
    display: none;
}

#read-more:checked ~ .summary-review .section .summary-right .more .short{
    display: none;
}
#read-more:checked ~ .summary-review .section .summary-right .more .long{
    display: block;
}
#read-more:checked ~ .lower-buttons{
    margin-top: 50vw !important;
}
.long label{
    color: #0073E6;
}
























.summary-left > div { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summary-left a { 
    font-size: 24px;
    margin:0;
    font-weight: 300;
}

.summary-left .stand-equip img { 
    width: 2.08333vw;
    height: 2.08333vw;
}
.summary-left .tri-code img { 
    width: 1.66666vw;
    height: 2.0083vw;
}
.summary-left .change-model img { 
    width: 2.5694vw;
    height: 2.0625vw;
}

.summary-left .stand-equip { 
    display: flex;
    margin-left: 5.69444vw;
}
.summary-left .tri-code { 
    margin-left: 5.902vw;
    margin-top: 2.2222vw;
}
.summary-left .change-model { 
    margin-left: 5.41666vw;
    margin-top: 2.2222vw;
}
.summary-left div:nth-child(1) a { 
    margin-left: 1.875vw;
    
}
.summary-left div:nth-child(2) a { 
    margin-left: 2.0833333vw;
}
.summary-left div:nth-child(3) a { 
    margin-left: 1.6666vw;
}



.summary-left,
.summary-right { 
    margin-top: 5.0694vw;
}

.summary-right { 
    display: flex;
    flex-direction: column;
    width: 62.1527vw;
}

.summary-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* FIX HERE */
.summary-right .leftbold {
    font-size: 40px; 
    font-weight: 500;
    
}
/* HERE */




#sr-d2, #sr-d3 { 
    margin-top: 1.180vw;
}
.p2 {
    font-size: 24px; 
    font-weight: 300;
    display: flex;
    
}


.summary-right hr {
    margin-top: 2.916vw;
}
.summary-right .totalprice { 
    margin-top: 2.916vw;
    height: 8.958vw;
}

.totalprice p:first-child{ 
    font-size: 44px;
}
.totalprice p:nth-child(2) {
    font-size: 40px;
}

/* FIX HERE */
.legalthing { 
    font-size: 2em;
    font-weight: 300;
}
/* HERE */
.more{
    font-weight: var(--light);
}

.summary-readmore { 
    position: absolute;
    align-self: flex-end;
    margin-left: 53.6111vw;
    font-size: 32px;
    font-weight: 300;
    text-decoration: underline;
}

.summary-right .rightmoney { 
    font-size: 32px;
    font-weight: 300;
}












/* lower buttons here */

.lower-buttons{
    margin-top: 20vw;
    width: 100%;
    /* border: var(--border2); */
    display: flex;
    justify-content: center;
    height: 4.5vw;
    gap: 1vw;
}
.lower-buttons .change-car{
    width: 24.6vw;
    border: 3px solid #0073E6;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
}
.lower-buttons .change-car:hover{
    background-color: #0073E6;
    color: #050133;
}
.lower-buttons .change-car:active{
    transform: scale(0.95);
}
.inquiry{
    background-color: #0073E6;
}

.lower-buttons img{
    height: 4.3vw; /*may need to change as needed*/
}
.lower-buttons a{
    text-decoration: none;
}
.lower-buttons h2{
    font-size: 2rem;
    font-weight: var(--semi-bold);
}


.selection-name h2{
    display: none;
}





















@media (max-width: 1460px){
    /* .lower-buttons */
    .legalthing{
        font-size: 1.5em;
    }
    .summary-readmore{
        width: 100%;
        /* top: 10px; */
        /* border: 2px solid black; */
    }
}
@media (max-width: 1283px){
    .lower-buttons a{
font-size: .75em;
    }
    .lower-buttons{
        /* margin-top: 112vw; */
        /* border: 2px solid white; */
        margin-top: 20vw !important;
    }
}
@media (max-width: 1103px){
    .lower-buttons{
        position: inherit;
        display: flex;
        margin-top: 25vw !important;
    }
    .more{
        display: flex;
        justify-content: center;
        align-content: center;
        /* border: 2px solid aqua; */
        flex-direction: column;
        /* margin-top: 15vw; */
    }
    .more .legalthing{
        display: flex;
    }
    .more .summary-readmore{
        display: flex;
        /* position: inherit; */
        /* border: 2px solid green; */
    }

}
@media (max-width: 1019px){
    .selection-name { 
        /* margin-top: 2.708vw; */
        width: 30.208vw;
        height: 4.778vw;
        /* background-color: #003B76; */
        /* display: flex; */
        position: absolute;
        /* align-self: flex-start; */
        /* align-items: center; */
        /* justify-content: center; */
    
    }
    .selection-name p { 
        margin: 0;
        color: white;
        font-size: 1rem;
    }
    .lower-buttons{
        margin-top: 50vw !important;
    }
    .section{
        display: flex;
        flex-direction: column-reverse;
        /* margin-top: 50vw; */
        /* justify-content: center; */
        /* border: 21px solid green; */
        margin-top: 100vw;
        margin-bottom: 100vw;
        margin-left: auto;
    }
    .summary-right{
        /* border: 21px solid green; */
        /* display: flex; */
        /* flex-direction: column; */
        /* margin-right: 10vw; */
        /* uhu yup... im aboiring this lmao i cant read it */
    }

}


@media (max-width: 1024px){
    .selection-name p{
        height: 3vw;
    }
}

/* alright... because im REALLY short on time... ill be bum rushing from here on out.. untill i can make sure it looks good enough :) */


@media (max-width: 440px){
    .banner-cont h1{
        font-size: 2rem;
    }
    .selection-name p{
        display: none;
    }
    .selection-name h2{
        display: block;
        font-size: 1rem;
    }
    #change-button{
        gap: 4vw;
        align-items: center;
    }
    #change-button p{
        font-size: 1.5rem;
        margin-left: 4vw;
        /* width: 30vw; */
    }
    #change-button .rfa{
        height: 12.5vw;
        width: 6.59vw;
        margin: 0;
        /* aspect-ratio: 1/1; */
    }
    /* .change-cont{
        width: 30vw;
    } */
    .sideview-car-showcase .change-cont{
        /* margin-right: 10vw; */
        width: 40vw;
        height: 12.5vw;
        /* margin: 0; */
        /* margin-top: 30vw !important; */
    }
    .options{
        margin-top: 10vw;
    }
}