/* use this for like the 'Thank you', or even the "this page is not avaliable */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lexend Deca', sans-serif;
        }

        body {
            /* margin-top: 100vw; */
            background-color: #050133;
            /* height: 100vh; */ /*why did i even add this?*/
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            color: white;
            /* display: flex; */
            flex-direction: column;
        }

        .container {
            position: relative;
            width: 100vw;
            height: 100vh;
            background-image: url('images/imgdump/galleryimgs/conformation-bg.png');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box {
            position: relative;
            background-color: #003B76;
            width: 87.6388888vw;
            height: 38.1944vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
        }

        .icon {
            width: 13.68055555vw;
            height: 14.027vw;
            margin-bottom: 1.041666vw;
        }

        .box h2 {
            font-size: 4em;
            margin-top: 1.041666vw;
        }

        .trion-code {
            font-size: 1.5em;
            margin-top: 1.041666vw;
        }

        .lower-box {
            background-color: #0073E6;
            width: 27.152777vw;
            height: 4.51388vw;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4.375vw;
            font-size: 2em;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }
        .box a img{
            margin-left: 3vw;
        }

        .lower-box:hover {
            background-color: #005bb5;
        }
        .lower-box:active{
            border: #03519e 2px solid;
        }
        a{
            color: white;
            text-decoration: none;
        }

        @media (max-width: 1408px){
            .box a .lower-box{
                font-size: 1.5em;
            }
            .box a img{
                scale: 0.70;
            }
        }
        @media (max-width: 1002px){
            .box{
                height: 50vw;
            }
            .box a{
                /* font-size: 1em; */
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .lower-box, .trion-code, .box h2{
                width: 50%;
                display: flex;
                justify-content: center;
                /* border: 2px solid white; */
                text-align: center;
            }
        }
        @media (max-width: 818px){
            .box{
                height: 70vw;
            }
            .box a{
                /* font-size: 1em; */
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .lower-box, .trion-code, .box h2{
                width: 80%;
                display: flex;
                justify-content: center;
                /* border: 2px solid white; */
                text-align: center;
                /* font-size: 3em; */
            }
        }
        @media (max-width: 579px){
            a .lower-box{
                height: 10vw;
                /* background-color: black; */
            }
            .box{
                height: 90vw;
            }
            .icon{
                height: 30vw;
                width: auto;
            }
        }