@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ALL */

* { 
    font-family: "Lexend Deca", sans-serif;
}
:root{
    --background-color: #08006A;
}

/* BODY */

body{
    margin:0;
    padding: 0;
    background-color: #050133;
    color: white;
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
}

/* TOP NAVIGATION */





.hmrfa:hover {
    cursor: pointer;
}



/* UPDATED HEADER GOES HERE */

/* trying to get the icon centered */
    .two-menuhhh,
    .aside-iconshhh{
        /* border: 2px solid red; */
        /* width: 30%; */
    }



* { 
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
    padding: 0;
}
.spacing{
    height: 5vw;
}
header input[type="checkbox"]{
    display: none;
}

header input[type="radio"] {
    display: none;
}
:root{
    --background-color: #08006A;
    font-size: 16px;
}
header{
    height: 5vw;
    width: 100vw;
    background: linear-gradient(to bottom,#050133, rgba(0,0,0,0));
    position: fixed;
    z-index: 500;

    /* border: 20px solid white; */
    /* padding-bottom: 10vw; */
    z-index: 500; /*that way its on top of EVERYTHING*/
    /* margin-bottom: vw; */
    /* visibility: visible; */
    /* display: block; */
}
/* BODY */


.headerhhh{
    height: 6.944vw;
    width: 100vw;
    background-color: #1e11ad; /*testing*/
    position: fixed;
}
.menuhhh{
    width: 100%;
    /* border: 2px solid white; */
    height: 100%;
    /* height: 100%; */
}
.menuhhh .two-menuhhh{
    display: flex;
    width: 30%;
    height: 100%;
    /* border: 2px solid green; */
    margin-left: 1vw;
    align-items: center;
    /* top: 2%; */
    /* margin-top: 2%; */
    gap: 1vw;
}
.menuhhh .two-menuhhh img{
    
    /* width: 4.652vw;
    height: 3.125vw; */
    width: 2.326vw;
    height: 1.5625vw;
    /* border: 2px solid rgb(255, 0, 0); */
}
.menuhhh .two-menuhhh h2{
    font-size: 1.5rem;
    font-weight: var(--regular);
    /* border: 2px solid rgb(255, 0, 0); */
}




.menu-contenthhh{

position: fixed;
background-color: #050133;
transform: translateX(-110%);
overflow-y: auto;
height: 80vh; /*was going to try and experement with width = fit content but Itzel dident say anything about it*/
overflow-x: hidden;
width: 35.416vw;
transition: all 0.3s;
box-shadow: 0 10px 10px black;
opacity: 0;
    visibility: hidden;
    /* transition: transform 0.0s ease-out, opacity 0.3s ease-out, visibility 0s linear 0.3s; */
}


.menu-contenthhh .lil-xhhh img{
    height: 1.8vw;
    /* width: 30px;  */
    display: flex;
    /* margin-top: 10%; */
    padding-top: 4%; /*because idk whats up with it*/
    margin-left: 90%;
    transition: all 0.3s;
}

.headingshhh{
    display: flex;
    margin-left: 3.958vw;
    gap: 1.59vw;
    /* border: 2px solid blue; */
    align-items: center;
}
.headingshhh h3{
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}


/* Checkbox not checked: keep menu hidden */


/* Checkbox checked: show the menu */
input[type="checkbox"]#check:checked ~ .menu-contenthhh {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    /* transition: transform 0.3s ease-out, opacity 0.3s ease-out; */
}
.headingshhh img{
    height: 4.7vw;
}

/* functionality for all the buttons to work for the menu */

.headingshhh img, .more-contenthhh,
.headingshhh img, .more-content2hhh,
.headingshhh img, .more-content3hhh,
.headingshhh img, .more-content4hhh,
.headingshhh img, .more-content5hhh,
.headingshhh img, .more-content6hhh,
.headingshhh img, .more-content7hhh,
.headingshhh img, .more-content8hhh{
    transition: all 0.3s;
}

.more-contenthhh,
.more-content2hhh,
.more-content3hhh,
.more-content4hhh,
.more-content5hhh,
.more-content6hhh,
.more-content7hhh,
.more-content8hhh{
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-left: 25%;
    /* transform: translateX(-25deg); */
}

input[type="checkbox"]#sub:checked ~ label:nth-child(3),
input[type="checkbox"]#sub2:checked ~ label:nth-child(6),
input[type="checkbox"]#sub3:checked ~ label:nth-child(9),
input[type="checkbox"]#sub4:checked ~ label:nth-child(12),
input[type="checkbox"]#sub5:checked ~ label:nth-child(15),
input[type="checkbox"]#sub6:checked ~ label:nth-child(18),
input[type="checkbox"]#sub8:checked ~ label:nth-child(21)
{
    color: #0073E6;
    
}





input[type="checkbox"]#sub:checked ~ .more-contenthhh,
input[type="checkbox"]#sub2:checked ~ .more-content2hhh,
input[type="checkbox"]#sub3:checked ~ .more-content3hhh,
input[type="checkbox"]#sub4:checked ~ .more-content4hhh,
input[type="checkbox"]#sub5:checked ~ .more-content5hhh,
input[type="checkbox"]#sub6:checked ~ .more-content6hhh,
input[type="checkbox"]#sub8:checked ~ .more-content8hhh {
    display: flex;
    gap: 2vw;
    /* transform: translateX(25deg); */
}
input[type="checkbox"]#sub:checked + label .headingshhh img,
input[type="checkbox"]#sub2:checked + label .headingshhh img,
input[type="checkbox"]#sub3:checked + label .headingshhh img,
input[type="checkbox"]#sub4:checked + label .headingshhh img,
input[type="checkbox"]#sub5:checked + label .headingshhh img,
input[type="checkbox"]#sub6:checked + label .headingshhh img,
input[type="checkbox"]#sub8:checked + label .headingshhh img {
    transform: rotate(90deg);
}

.menu-contenthhh a{
    color: white;
    text-decoration: none;
    font-weight: var(--semi-bold);
    font-size: 1.75rem;
}





/* this part is for the three on the side... */


/* re-sizing the hero icon */
.iconhhh{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 4.5vw;
    /* border: 2px solid green; */
    position: absolute;
    top: 0;
    justify-content: center;
    margin-left: auto;
    z-index: 1; /*not too sure why this works but it just kinda does*/

    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); 
}
.iconhhh img{
    /* border: 2px solid black; */
    width: 4.5vw;
    /* position: absolute; */
    /* left: 45%; */
    /* top: 0; */
}

/* mag glass here */
/* Magnifying glass icon */
.aside-iconshhh label[for="mag-glass"] img {
    width: 1.65vw;
    transition: all 0.3s;
    margin-right: 1vw;
}
.aside-iconshhh{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.3s;
    height: 100%;
    /* border: 2px solid green; */
    /* width: 30%; */
    
}


/* Search bar styling */
.search-containerhhh{

    margin-right: 7vw;
    width: 28.819vw;
    /* border: 2px solid red; */
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 14vw;
}
#search-bar {
    /* display: none; */
    width: 100%;
    height: 5vw;
    /* border: 3px solid green; */
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    font-size: 2.25rem;
    background-color: transparent;
    border: none;
}
input[type="text"]{
    padding-left: .69vw;
    color: white;
}
#search-bar::placeholder{
    color: white;
    /* padding-left: .69vw; */
}
.search-containerhhh hr{
    color: white;
    height: 3px;
    margin-bottom: .56vw;
    background-color: white;
    border: none;

}
.searchinghhh{
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    overflow-y: scroll;
    color: black;
    background-color: white;
    gap: 2vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.searchinghhh a{
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 2.25rem;
    margin-left: .69vw;
    /* transition: all 0.3s; */

}
.searchinghhh a:hover{
    color: #0073E6;
}


input[type="checkbox"]#mag-glass:checked ~ .search-containerhhh {
    display: inline-block;
    height: 20vw;
    margin-right: 0;
    
}
input[type="checkbox"]#mag-glass:checked + label[for="mag-glass"]{
    /* position: fixed; */
    /* top: 1.5vw; yeah, this could totally be wrong */
    
    /* height: 20vw; */
    /* border: 2px solid green; */
    /* right: 38%; */
}
input[type="checkbox"]#mag-glass:checked ~ a{
    /* position: fixed; */
    /* border: 2px solid red; */
    /* right: 1.5vw;
    top: 1%; */
}


/* input[type="checkbox"]#mag-glass:checked ~ .searching{
    display: block;
} */

input[type="checkbox"]#mag-glass:checked + label img {
    transform: translateX(0%);
}

/* Profile image styling */
.aside-iconshhh a img {
    width: 2.569vw;
    transition: all .3s;
    /* border: 2px solid green; */
}









/* New section */

.aside-iconshhh{
    display: flex;
    align-items: center;
    /* gap: 2vw; */
    position: absolute;
    right: 1.5%;
    top: 2%;
    /* border: 2px solid black; */
}

/* below is the acessability stuff */

.access-overlayhhh{
    height: 40vw;/*temp*/
    /* height: 66.20vw; when testing*/
    margin-bottom: 1vw;
    bottom: 0;
    width: 43.88vw;/*temp*/
    position: fixed;
    transform: translateX(250%);/*origional was 230*/
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 5px 10px black;
    /* transition: all 0s; */
    opacity: 0;                                 /*trade off here*/
    /* transition: transation 0.9s ease; */
}

.access-iconhhh{
    position: fixed;
    right: 1.5vw; /*this should do it*/
    bottom: .95vw;
}
.access-iconhhh img{
    width: 4.722vw;
    height: 4.722vw;
    transition: all 0.3s ease;
}
@keyframes bounceIn {
    0% {
        transform: translateX(230%);
    }
    50% {
        transform: translateX(124%);
    }
    100% {
        transform: translateX(125.5%);
        /* opacity: 1; */
    }
}
@keyframes outtaHere{
    0%{
        transform: translateX(130%);
    }
    
}
input[type="checkbox"]#access:checked ~ .access-overlayhhh{
    /* transform: translateX(120%); */
    animation: bounceIn .9s ease-out forwards;
    /* transform: translateX(100%); testing */
    opacity: 1;
}
input[type="checkbox"]#access:not(:checked) ~ .access-overlayhhh{
    animation: outtaHere .6s ease-out forwards;
}

#access:checked + .access-iconhhh img{
    opacity: 0;
    /* z-index: 999999999; */
    /* transition: all 0.3s ease; */
    /* display: none; */
    /* background-image: url(../icons/icon.png); */
    /* background-position: ; */
    /* background-size: 20vw; */
}


/* container for the blue-top */
.blue-tophhh{
    width: 100%;
    height: 20%;
    background-color: #08006A;/*temp*/
    
}
.blue-tophhh img{
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    width: 3.6vw;
    height: 3.6vw;
}
.blue-tophhh h2{
    font-size: 2rem;
    align-items: center;
    /* display: flex; */
    /* border: 2px solid red; */
    text-align: center;
    /* margin-top: 2.5vw; */
    /* margin-bottom: 21vw; */
}

/* container for the blue-bott */
.blue-botthhh{
    width: 100%;
    height: 60vw;
    background-color: #08006A; /*temp*/
}



/* white overlay below */

/* used for spacing */
.mmhhh{
    margin-left: 1.458vw;
    margin-right: 2.5vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.18vw;
    margin-bottom: 1.18vw;
    display: flex;
}
.mthhh{ /*yeah idk about this one chief*/
    margin-left: .4vw;
    margin-right: 1.458vw;

}

.circlehhh,
.letter-sizinghhh h2,
.letter-sizinghhh h3,
.blind-usershhh img,
.keyboard-navhhh img,
.reset-settingshhh{
        transition: all 0.3s;
    }
.circlehhh:hover,
.letter-sizinghhh h3:hover,
.letter-sizinghhh h2:hover,
.blind-usershhh img:hover,
.keyboard-navhhh img:hover,
.reset-settingshhh:hover{
        scale: .95;
    }












    .white-overlayhhh{
        position: fixed;
        background-color: white;
        /* height: 81.5%; */
        height: 52vw;
        width: 39.44vw;
        z-index: 500;
        top: 12vw;
        color: black;
        margin-left: 2.2vw;
    }
    .white-overlayhhh hr{
        /* margin-top: 10vw; */
    }
    .headinghhh{
        /* display: flex; */
        /* border: 2px solid green; */
        height: 4.58vw;
    }
    .englishhhh label[for="english"]{
        display: flex;
        align-items: center;
        /* border: 2px solid red; */
        width: fit-content;
    }
    
        /* by defalt, what can you and cannot see USER FOR TESTING AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
    .basic-twohhh{
        display: none;
    }
    .basichhh{
        /* display: none; */
    }
    .englishhhh img {
        transition: transform 0.3s, border 0.3s;
        transform: rotate(0deg); /* Default state */
    }
    
    .englishhhh input[type="checkbox"]:checked + label img {
        transform: rotate(90deg);
    }
    .englishhhh h2{
        font-weight: var(--light);
    }
    
    
    .white-overlayhhh:has(input[type="checkbox"]#english:checked) .basic-twohhh {
        display: block;
    }
    .white-overlayhhh:has(input[type="checkbox"]#english:checked) .basichhh{
        display: none;
    }
    
        /* styling for the circles */
        .dark-modehhh{
            /* display: flex; */
        }
        .color-optionshhh{
            display: flex;
            gap: .9vw;
        }
        
        .dark-modehhh .circlehhh{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* width: 8vw; */
            /* height: 8vw; */                     /*WHOOPS... THIS WAS SOPPOSED TO BE FOR THE MOBILE APP*/
            width: 3.8vw;
            height: 3.8vw;
            border-radius: 3.8vw;
            background-color: black;
            color: white;
            box-sizing: border-box; /*it was this one*/
        }
        .dark-modehhh .circlehhh p{
            font-size: 2rem;
            font-weight: var(--bold);

        }
        .color-optionshhh .bluehhh{
            color: white;
            background-color: #050133;
        }
        .color-optionshhh .whitehhh{
            background-color: white;
            color: black;
            border: 2px solid black;
            /* height: 8vw; */
            /* width: 8vw; */
            width: 3.8vw;
            height: 3.8vw;
        }
        .color-optionshhh .blackhhh{
            background-color: black;
            color: #FFE500;
        }
        
        
    
        body:has(input[type="radio"]#reverse:checked) *{
            color: white;
            background-color: #050133;
        }

        body:has(input[type="radio"]#reverse:checked) *{ /*may want to change with the real thing later... but idk*/
            color: black;
            background-color: white;
        }
        body:has(input[type="radio"]#reverse:checked) img{
            mix-blend-mode: multiply;
        
        }

        body:has(input[type="radio"]#yellow:checked) *{
            background-color: black;
            color: #FFE500;
        }

        




/* font sizing */
    .font-sizinghhh .letter-sizinghhh{
        display: flex;
        align-items: center;
        gap: 2.36vw;
    }




    .font-sizinghhh .letter-sizinghhh h3{
        font-size: 2rem;
        /* color: #0073E6; */
        color: black;
    }
    .font-sizinghhh .letter-sizinghhh h4{
        font-size: 2.5rem;
        color: black;

    }
    .font-sizinghhh .letter-sizinghhh h2{
        font-size: 3rem;
        color: black;

    }

    #small-text:checked + label h3,
    #regular-sizing:checked + label h4,
    #larger-text:checked + label h2 {
        color: #0073E6;
    }



    
    body:has(input[type="radio"]#small-text:checked) *{
        font-size: .75rem;
    }
    body:has(input[type="radio"]#regular-sizing:checked) *{
        /* font-size: 1.75rem; */
    }
    body:has(input[type="radio"]#larger-text:checked) *{
        font-size: 2.25rem;
    }

/* blind users here (idk how to make it work :[) */
.blind-usershhh img,
.keyboard-navhhh img{
    /* width: 8vw; */
    /* height: 8vw; */
    width: 3.8vw;
    height: 3.8vw;
}

.reset-settingshhh h2{
    /* border: 2px solid green; */
    text-align: center;
    font-size: 2rem !important;
    
    color: white;
    /* font-size: var(--regular); */
    font-weight: var(--regular);
}
.reset-settingshhh{
    margin-top: 3vw;
    margin-left: 1.041vw; /*yeah, this just wont work because i have no idea how to make it work without js*/
    margin-right: 1.041vw;
    height: 3.8vw;
    background-color: #0073E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* finial icon img here herhehrhehherhehhrhehrhehrherhherhehrhrehrhehrherhreherhrrehrherhe*/
.accessibility-icon-againhhh{
    /* border: 2px solid green; */
    display: flex;
    justify-content: flex-end;
    height: 15vw;
    align-items: flex-end;
}

/* when the user clicks on the english icon (the lanuge part )*/
.basic-twohhh{
    /* border: 2px solid green; */
    height: 80%;
}
.lan-switcherhhh ul li{
    list-style: none;
    margin-left: 1.458vw;
    font-size: 1.5rem;
    
}
.lan-switcherhhh ul{
    display: flex;
    flex-direction: column;
    gap: .36vw; /*idk if this is good to go or not but to work with the 1440px by 810px i had to do the spacing like this :/*/
}
.lan-switcherhhh{
    /* border: 2px solid red; */
    height: 100%;
}
/* .lan-switcher ul li button[data-lang="en"]{
    color: #0073E6;
} */
.lan-switcherhhh button{
    /* background-color: white; */
    background: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
    transition: all 0.3s;
}
.lan-switcherhhh button:hover{
    scale: .99;
    color: #0073E6;
}

.lan-switcherhhh input[type="radio"]#en:checked{
    color: #0073E6;
}

.lan-switcherhhh input[type="radio"]#en:checked ~ li:nth-of-type(1) .language-btnhhh label {
    color: #0073E6;
}





.englishhhh .lan2hhh,
.englishhhh .lan3hhh,
.englishhhh .lan4hhh,
.englishhhh .lan5hhh,
.englishhhh .lan6hhh,
.englishhhh .lan7hhh,
.englishhhh .lan8hhh,
.englishhhh .lan9hhh,
.englishhhh .lan10hhh,
.englishhhh .lan11hhh,
.englishhhh .lan12hhh{
    display: none;
}



.englishhhh .lanhhhh{
    display: none;
}
.lanhiddenhhh{
    display: none;
}


body:has(input[type="radio"]#ru:checked) .lan2hhh,
body:has(input[type="radio"]#fr:checked) .lan3hhh,
body:has(input[type="radio"]#de:checked) .lan4hhh,
body:has(input[type="radio"]#es:checked) .lan5hhh,
body:has(input[type="radio"]#pt:checked) .lan6hhh,
body:has(input[type="radio"]#zh:checked) .lan7hhh,
body:has(input[type="radio"]#ja:checked) .lan8hhh,
body:has(input[type="radio"]#hi:checked) .lan9hhh,
body:has(input[type="radio"]#ar:checked) .lan10hhh,
body:has(input[type="radio"]#bn:checked) .lan11hhh,
body:has(input[type="radio"]#ur:checked) .lan12hhh{
    display: block;
}

body:has(input[type="radio"]#ru:checked) .lan1hhh,
body:has(input[type="radio"]#fr:checked) .lan1hhh,
body:has(input[type="radio"]#de:checked) .lan1hhh,
body:has(input[type="radio"]#es:checked) .lan1hhh,
body:has(input[type="radio"]#pt:checked) .lan1hhh,
body:has(input[type="radio"]#zh:checked) .lan1hhh,
body:has(input[type="radio"]#ja:checked) .lan1hhh,
body:has(input[type="radio"]#hi:checked) .lan1hhh,
body:has(input[type="radio"]#ar:checked) .lan1hhh,
body:has(input[type="radio"]#bn:checked) .lan1hhh,
body:has(input[type="radio"]#ur:checked) .lan1hhh{
    display: none;
}

.access-againhhh{
    /* display: flex; */
    /* display: none; */
    position: absolute;
    top: 90%;
    right: 2%;
    width: 4.722vw;
    height: 4.722vw;
}

@media (max-width: 1440px){
    .access-iconhhh{
        /* border: 2px solid green; */
        bottom: 5%;
    }
    button.language-btnhhh{
        font-size: 1.5rem;
    }
}
@media (max-width: 1145px){
    button.language-btnhhh{
        font-size: 1.2rem;
    }
}
@media (max-width: 1024px){
    .access-iconhhh{
        bottom: 13%;
    }
    .access-againhhh img{
        /* border: 2px solid red; */
        height: 5vw;
    }
    :root{
        font-size: 16px;
    }
    .blue-botthhh{
        height: 70vw;
    }
    .white-overlayhhh{
        height: 70vw;
    }

}


@media (max-width: 995px){
    .menu-contenthhh{
        /* border: var(--border2); */
    }
    .blue-botthhh{
        /* border: var(--border1); */
        height: 80vw;
    }
    .white-overlayhhh{
        height: 80vw;
    }
}

@media (max-width: 925px){
    .lan-switcherhhh ul{
        gap: .2vw;
    }
    /* button.language-btn{
        font-size: 1rem;
    } */
}
@media (max-width: 897px){
    .menu-contenthhh{
        width: 40vw;
    }
    .lanhiddenhhh{
        display: block;
    }
    .lancomputerhhh{
        display: none;
    }
}

/* @media (max-width:) */


@media (max-width: 840px) {
    :root { 
        font-size: 9px !important;
    }
}

@media (max-width: 768px){
    .blue-botthhh{
        /* border: var(--border1); */
        height: 100vw;
    }
    .white-overlayhhh{
        height: 100vw;
    }
    .circlehhh p{
        font-size: 1rem !important;
    }
}


@media (max-width: 440px) {

    :root {
        font-size: 16px !important;
    }



.iconhhh{
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -160%); 
}







    
    .blue-tophhh img{
        height: 10vw;
        width: 10vw;
        /* aspect-ratio: 1/1; */
    }
    header { 
        height: 23.86363vw;
        background: linear-gradient(to bottom,#050133, rgba(0,0,0,0));
    }

    .two-menuhhh h2 {
        font-size: 1rem !important;
        margin-left: 1vw;
    }
    .two-menuhhh img { 
        height: 5.227272vw !important;
        width: auto !important;
        margin-left: 1vw;
    }
    .iconhhh a img {
        margin-top: 5vw;
        height: 13.1818vw;
        width: auto;
    }
    
    .profile-icon {
        height: 7.04545vw;
        width: auto !important;

    }
    .profile-cont { 
        height: 7.04545vw;
    }


    #magni-glass { 
        height: 6.04545vw !important;
        width: auto !important;
        margin-top: 1.5vw;
        margin-right: 1.5vw;
    }

    .menu-contenthhh { 
        z-index: 500;
        width: 100vw;
        height: 89.5vh;
        padding-bottom: 5vw;
    }

    .headingshhh {
        margin-left: 6vw;
    }
    .spaceee {
        margin-top: 10vw;
    }
    .headingshhh img { 
        height: 12vw;
    }
    .access-iconhhh img { 
        /* top: 90%; */
        /* border: var(--border3); */
        height: 15vw;
        width: auto;
        margin-right: 1vw;
        
    }
    .access-iconhhh{
        /* border: var(--border5); */ /*dont re-enable this lol... it will break it*/
        position: fixed;
        right: 0; 
        top: 26%;
        margin-top: 60vh;
    }
    [class^="more-content"] {
        margin-left: 14vw;
    }
    .access-overlayhhh { 
        width: 100vw;
        height: 80vh;
        overflow-x: hidden;
        padding-bottom: 5vw;
    }
    @keyframes bounceIn {
        0% {
            transform: translateX(230%);
        }
        50% {
            transform: translateX(-1%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes outtaHere{
        0%{
            transform: translateX(0%);
        }
        
    }
    .white-overlayhhh { 
        padding-top: 2vw;
        margin-top: 10vw;
        width: 95vw;
        height: 68vh;


    }

    .search-containerhhh {
        margin-right: .5vw !important;
        margin-top: 12vw;
        width: 24vw;
        font-size: .75rem;
    }
    #search-bar::placeholder{
        font-size: 1rem;
        /* padding-left: .69vw; */
    }
    .searchinghhh { 
        height: fit-content;
        font-size: .85rem !important;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    #search-bar { 
        font-size: 1rem !important;
        margin-top: 1vw;
        margin-bottom: 0;
    }
    .search-containerhhh hr { 
        margin-top: .5vw;
    }
    .searchinghhh a { 
        font-size: 1rem !important;
    }
    .spacing { 
        height: 23.86363vw;
    }
    .lil-xhhh img {
        margin-left:  90%;
    }
    .blue-tophhh {
        height: 40%;
    }
    .headinghhh  { 
        margin-top:  1rem;
        padding-bottom: 1rem;
    }



    
}

/* END OF UPDATED HEADER */

























































/* use this for an interactable button, you'll have to set your own 
width, height, font-size, and margin though */
button.uni-button {
    background-color: #0073E6;
    color: white;
    border: none;
    /*font-weight: bold;  maybe */
    transition: all 0.3s ease;
    font-weight: var(--semi-bold);
}

button.uni-button:hover {
    scale: 0.95;
    background-color: #005bb5;
}

button.uni-button:focus {
    outline: 3px solid #80bfff;
}



/* OUTLINED BUTTON HERE */
/* yes, i know its commented out but use that for the blue outlined button... 
like on the merch page*/

/* .add-to-cartmh2{
    display: flex;
    justify-self: center;
    text-align: center;
    align-self: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    font-size: 1.25em;
    border: #0073E6 3px solid;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
}
.add-to-cartmh:hover {
    background-color: #0073E6;
    color: #050133;
}

.add-to-cartmh:active {
    transform: scale(0.95);
} */

/* ends here */







/* use for loading */

#loading {
    position: fixed;
    inset: 0;
    background-color: #050133;
    z-index: 20;
    opacity: 1;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading::after {
    content: "";
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1.5vw solid white;
    border-top-color: #3F8ECB;
    animation: spinner 1s linear infinite;
    z-index: 1;
}
@keyframes spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loading-hero{
    height: 10vh;
} 
.loading-hero {
    position: relative;
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
@keyframes img-ease{
    50%{
        opacity: 0;
    }
}

.loading-hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 50%; */
}




@media (max-width:1024px){
    .loading-hero{
        margin-top: -1vw !important;
    }
}

@media (max-width: 768px) {
    #loading::after {
        width: 25vw;
        height: 25vw;
        border-width: 1vw;
    }

    .loading-hero {
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 440px) {
    #loading::after {
        width: 40vw;
        height: 40vw;
        border-width: 0.8vw;
    }

    .loading-hero {
        width: 20vw;
        height: 20vw;
    }
} */


/* code for the loading pages */











/* footer here */


.headerrf img {
    display: none;
}
footer{
    color: white;
    margin-top: 10vw;
    /* z-index: 112; */
    gap: 3.6666vw;                  /*1.8333            for half*/
    display: flex;
    flex-wrap: wrap;
    margin-left: 8.97727vw;
    /* margin-right: 3.97727vw; */
    /* border: 2px solid green; */
/* border: 2px solid red; */

}
.hyperlinksrf a{
    text-decoration: none;
    transition: all 0.3s;
    color: white;
}
.hyperlinksrf a:hover {
    display: flex;
    flex-direction: column;
    transform: scale(0.95); 

}
.hyperlinksrf{
    margin-top: 1.04166vw;
    display: flex;
    flex-direction: column;
    gap: 1.04166vw;
}
.accountrf{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}


.accountrf, .socialrf{
    width: 16%;
    
}

.accountrf .headerrf{
    display: flex;
}

.belowrf{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.belowrf img{
    width: 5vw;
}
.togglerf {
    display: none;
}
.iconsrf{
    margin-top: 1.04166vw;
    display: flex;
    flex-direction: row;
    gap: 1.3888vw;

}
.iconsrf img{
    width: 2vw;
}
.belowrf h3{
    font-weight: 200;
}

@media (max-width: 950px){
    .accountrf, .socialrf{
        width: 30%;
    }
}
@media (max-width: 644px){
    .accountrf, .socialrf{
        width: 39%;
    }
    .iconsrf img{
        margin-top: 3.4090vw;
        height: 8vw;
        width: auto;
    }
    .iconsrf{
        gap: 4.5454vw;
    }
.belowrf img{
    height: 9vw;
    width: auto;
}
.belowrf h3{
    font-size: 1em;
}

}
@media (max-width: 440px){
    .accountrf:nth-child(9){
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: 0 auto;
        /* padding-right: 6vw; */ /*sure... i mean its aligned*/
    }
    .accountrf:nth-of-type(9) h2{
        /* padding-right: 3vw; */
        align-items: center;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .belowrf img{
        height: 22.727vw;
        width: auto;
    }
    footer{
        /* border: red 2px solid; */
        display: flex;
        justify-content: center;
    }
}




/* end footer */















































