/* header{
    z-index: 10;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    line-height: 30px;
    display: flex;
    justify-content: center;
} */

/* you can find this code in the universal one */

#loading {
    position: fixed;
    inset: 0;
    background-color: #050133;
    z-index: 20;
    opacity: 1;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading::after {
    content: "";
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1.5vw solid white;
    border-top-color: #3F8ECB;
    animation: spinner 1s linear infinite;
    z-index: 1;
}
@keyframes spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* .loading-hero{
    height: 10vh;
} */
.loading-hero {
    position: relative;
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
@keyframes img-ease{
    50%{
        opacity: 0;
    }
}

.loading-hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 50%; */
}




@media (max-width:1024px){
    .loading-hero{
        margin-top: -1vw !important;
    }
}

@media (max-width: 768px) {
    #loading::after {
        width: 25vw;
        height: 25vw;
        border-width: 1vw;
    }

    .loading-hero {
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 440px) {
    #loading::after {
        width: 40vw;
        height: 40vw;
        border-width: 0.8vw;
    }

    .loading-hero {
        width: 20vw;
        height: 20vw;
    }
}