:root {
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;


    --border1: 2px solid green;
    --border2: 2px solid red;
    --border3: 2px solid blue;
    --border4: 5px solid aqua;
    --border5: 20px solid white;
}
