@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jim+Nightshade&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* { 
    font-family: "Lexend Deca";
}


:root{
    --background-color: #08006A;
}
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* { 
    font-family: "Lexend Deca", sans-serif;
}



body {
    /* height: 69420px; */
    background-color: #050133;
}


/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* home page start */





/* home page end */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */
/* ------------- */