*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}
body{
    /* overflow-x: s; */
    /* width: 99vw; */
    background-color: #050133 !important;
}
.container{
    display: flex;
    /* flex-direction: column; */
    width: 100vw;
    height: 55.6vw;
    top: 10vw;
}

input[type=checkbox]{
    display: none;
    /* display: block !important; */
}
input[type=radio]{
    display: none !important;
}


/* left side */
.left-cars{
    height: 760px;
    width: 66vw;
    height: 100%; /*origional was 65vw*/
    /* border: var(--border2); */
}

.left-cars .hero{
    position: relative;
    width: 100%;
    height: 47vw; /*origional was 53*/
    transition: all 0.3s;
    z-index: 1;
    /* border: var(--border1); */
}
.left-cars{
    position: relative;
}

/* container for zoom in */




#zoom{
    margin-left: 10vw; /*testing here*/
}
.zoom-in{
    position: absolute;
    bottom: 21%;
    right: 1%;
    /* scale: 2; */
    z-index: 2;
    height: 3.6vw;
    width: 3.6vw;
}
#zoom:checked ~ .left-cars .hero{
    scale: 1.3;
    /* overflow: hidden; */
    z-index: 2;
    margin-left: 13vw;
    margin-top: 3vw;

}
#zoom:checked ~ .left-cars .zoom-in .zoom-out{
    z-index: 3;
    scale: 2;
    height: 3.6vw;
    width: 3.6vw;
    display: block;
    visibility: visible;
    opacity: 1;
    margin-left: 20vw;
    margin-top: 3vw;
}
.zoom-in .zoom-out{
    opacity: 0;
    margin-left: 24vw;
    margin-top: 3vw;
    visibility: hidden;
    height: 0;
    width: 0;
    transition: all 0.5s;
}

#zoom:checked ~ .left-cars .sub-hero{
    z-index: 1;/*kek im so smart*/
    opacity: .5;
    transition: all 0.3s;
}
#zoom:checked ~ .left-cars .zoom-in .zoom-in-two{
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

#zoom:checked ~ .right-selectors .color-widh-dropdown{
    opacity: .5;
}

.zoom-in .zoom-in-two{
    cursor: zoom-in;
}
.zoom-in .zoom-out{
    cursor: zoom-out;
}

/* end container for zoom */
.hero img{
    width: 100%;
    position: absolute;
    opacity: 0;
}

.left-cars .sub-hero{
    margin-top: .29vw;
    width: 100%;
    height: 9vw;
    /* border: var(--border3); */
    display: flex;
    /* justify-content: space-between; */
    gap: 1vw;
    position: relative;
    /* justify-content: flex-end; */

}
.sub-hero .option{
    /* border: 2px solid yellow; */
    position: relative;
    /* opacity: 0; */
    width: 100%;
    height: 100%;
}
.sub-hero .option img{
    /* border: 3px solid white; */
    width: 100%;
    /* align-content: center; */
    margin-left: auto;
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
}
.sub-hero .option{
    transition: all 0.3s;
}
.sub-hero .option:hover{
    scale: .95;
}


/* RED */
#red-selector11:checked ~ .hero .r11,
#red-selector12:checked ~ .hero .r12,
#red-selector13:checked ~ .hero .r13,
#red-selector14:checked ~ .hero .r14,
#red-selector15:checked ~ .hero .r15,

#red-selector21:checked ~ .hero .r21,
#red-selector22:checked ~ .hero .r22,
#red-selector23:checked ~ .hero .r23,
#red-selector24:checked ~ .hero .r24,
#red-selector25:checked ~ .hero .r25,

#red-selector31:checked ~ .hero .r31,
#red-selector32:checked ~ .hero .r32,
#red-selector33:checked ~ .hero .r33,
#red-selector34:checked ~ .hero .r34,
#red-selector35:checked ~ .hero .r35,

/* BLUE */
#blue-selector11:checked ~ .hero .b11,
#blue-selector12:checked ~ .hero .b12,
#blue-selector13:checked ~ .hero .b13,
#blue-selector14:checked ~ .hero .b14,
#blue-selector15:checked ~ .hero .b15,

#blue-selector21:checked ~ .hero .b21,
#blue-selector22:checked ~ .hero .b22,
#blue-selector23:checked ~ .hero .b23,
#blue-selector24:checked ~ .hero .b24,
#blue-selector25:checked ~ .hero .b25,

#blue-selector31:checked ~ .hero .b31,
#blue-selector32:checked ~ .hero .b32,
#blue-selector33:checked ~ .hero .b33,
#blue-selector34:checked ~ .hero .b34,
#blue-selector35:checked ~ .hero .b35,

/* GREEN */
#green-selector11:checked ~ .hero .g11,
#green-selector12:checked ~ .hero .g12,
#green-selector13:checked ~ .hero .g13,
#green-selector14:checked ~ .hero .g14,
#green-selector15:checked ~ .hero .g15,

#green-selector21:checked ~ .hero .g21,
#green-selector22:checked ~ .hero .g22,
#green-selector23:checked ~ .hero .g23,
#green-selector24:checked ~ .hero .g24,
#green-selector25:checked ~ .hero .g25,

#green-selector31:checked ~ .hero .g31,
#green-selector32:checked ~ .hero .g32,
#green-selector33:checked ~ .hero .g33,
#green-selector34:checked ~ .hero .g34,
#green-selector35:checked ~ .hero .g35,

/* SHADOW */
#shadow-selector11:checked ~ .hero .s11,
#shadow-selector12:checked ~ .hero .s12,
#shadow-selector13:checked ~ .hero .s13,
#shadow-selector14:checked ~ .hero .s14,
#shadow-selector15:checked ~ .hero .s15,

#shadow-selector21:checked ~ .hero .s21,
#shadow-selector22:checked ~ .hero .s22,
#shadow-selector23:checked ~ .hero .s23,
#shadow-selector24:checked ~ .hero .s24,
#shadow-selector25:checked ~ .hero .s25,

#shadow-selector31:checked ~ .hero .s31,
#shadow-selector32:checked ~ .hero .s32,
#shadow-selector33:checked ~ .hero .s33,
#shadow-selector34:checked ~ .hero .s34,
#shadow-selector35:checked ~ .hero .s35
{
    opacity: 1;
    /* scale: 2; */
    z-index: 2;
    transition: all 0.3s;
}
#red-selector2:checked ~.hero .r1,
#red-selector3:checked ~.hero .r1,
#red-selector4:checked ~.hero .r1,
#red-selector5:checked ~.hero .r1{
    /* opacity: 0;                     THIS IS UNESSESADY IF IM NOT EVEN ADDING A HERO TO BEGAIN WITH*/
}

.spacing{
    height: 6.9vw;
}



/* right side */
.gets-margin{
    margin-left: 2vw;
    margin-right: 2vw;
}



.right-selectors{
    width: 33vw;
    max-height: 100%;
    height: 100%;
    /* height: 55.5vw; */
    overflow-y: scroll;
    /* border: 2px solid green; */
    /* background-color: #003B76; */ /*changed to nothing to make it look*/
    /* margin-top: 6.9vw; */
}

/* top text for right side here */
        
        .gets-margin .top-text h2{
            font-size: 4rem !important;
            font-weight: var(--bold);
            margin-top: 1vw;
        }
        .gets-margin .top-text h3{
            margin-top: 3vw;
            margin-bottom: 1.8vw;
        }
        

.container h3{ /*because theres too many that are the same*/
    font-size: 2rem;
    font-weight: var(--semi-bold);
}

/* colors with drop downs */

    .color-arrow{
        display: flex;
        justify-content: space-between;
        /* border: 2px solid black; */
        height: 100%;
        align-items: center;
    }
    .color-arrow img{
        height: 2.5vw;
    }
    .color-widh-dropdown{
        margin-top: 1vw;
        /* border: var(--border2); */
        height: 4.7vw;
        align-items: center;
        z-index: 0;
    }
    .container hr{
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
.container h4{
    font-size: 1.5rem;
    font-weight: var(--light);
}
    .dropdown-content{
        width: 100%;
        height: 4.6vw;
        margin-top: 1vw;
        margin-bottom: 1.7vw;
        gap: 1vw;
    }
    .dropdown-content .two-colors{
        margin-top: 1vw;
        margin-bottom: 1vw;
        display: flex;
        gap: 1.5vw;
        /* background-color: black; */
        height: 6.9vw;
        width: 100%;
    }
    .dropdown-content .two-colors .named-color{
        /* border: 2px solid green; */
        width: 50%;
        /* height: 100%; */
    }
    .two-colors .named-color .color{
        height: 69%;
        /* background-color: white;                       USED FOR TESTING*/
    }
    .named-color h4{
        bottom: 0;
        /* border: 2px solid green; */
    }
    /* changing colors for each read */
        .named-color .r1{background-color: #B81212;}
        .named-color .r2{background-color: #D73B2C;}
        .named-color .r3{background-color: #BB2517;}
        .named-color .r4{background-color: #940000;}
        .named-color .r5{background-color: #5C1010;}
        .named-color .r6{background-color: #560D0D;}

        .named-color .b1{background-color: #7F88FF;}
        .named-color .b2{background-color: #5C68F0;}
        .named-color .b3{background-color: #4453EE;}
        .named-color .b4{background-color: #2D3DEB;}
        .named-color .b5{background-color: #1627E9;}
        .named-color .b6{background-color: #1323D1;}

        .named-color .g1{background-color: #ACDF87;}
        .named-color .g2{background-color: #A4DE02;}
        .named-color .g3{background-color: #68BB59;}
        .named-color .g4{background-color: #76BA1B;}
        .named-color .g5{background-color: #4C9A2A;}
        .named-color .g6{background-color: #1E5631;}

        .named-color .s1{background-color: #4F4F4F;}
        .named-color .s2{background-color: #3E3E3E;}
        .named-color .s3{background-color: #2D2D2D;}
        .named-color .s4{background-color: #1B1B1B;}
        .named-color .s5{background-color: #101010;}
        .named-color .s6{background-color: #0C0C0C;}


    /* functionality for on click displays */
    .dropdown-content{
        visibility: hidden;
        opacity: 0; 
        transition: all 0.3s;
        height: 0;
        margin: 0; /*this and height gets rid of the space... setting to op0 and vis hidden only
        make the content visually not there... remember they still have height, padding, 
        margin, width... those types of things*/
    }
    #red:checked ~ .dropdown-content.red,
    #blue:checked ~ .dropdown-content.blue,
    #green:checked ~ .dropdown-content.green,
    #shadow:checked ~ .dropdown-content.shadow{
        visibility: visible;
        opacity: 1;
        height: auto; /*allows for the box to expand upon being checked*/
    }
    #red:checked + label .color-arrow img,
    #blue:checked + label .color-arrow img,
    #green:checked + label .color-arrow img,
    #shadow:checked + label .color-arrow img
    {
        rotate: -180deg;
    }
    .color-arrow img{
        transition: all 0.3s;
    }
    .container .na{
        transition: all.9s;
        filter: brightness(.55);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        
    }
    .container .na::after{
        /* content: "Color Unavailable"; */
        font-size: 1.5rem;
    }
    .two-colors .strikethrough{
        cursor:not-allowed;
    }
    .two-colors .strikethrough h4 {
        text-decoration: line-through;
        filter: brightness(.7); /*used for targeting that line through*/
    }

    /* below is getting the color to be toggled */
    .container .available{
        transition: all 0.3s;
    }
    .container .available:hover{
        scale: .95;
        border: 2px solid #0073E6;
    }
    .left-cars #red1:checked ~ .sub-hero .right-selectors .gets-margin .color-widh-dropdown .dropdown-content .two-colors .named-color .r1{
        /* scale: .95; */
    }

    #red1:checked ~ .hero img.r14,
    #red1:checked ~ .sub-hero img.sub-r1,

    #red2:checked ~ .hero img.r24,
    #red2:checked ~ .sub-hero img.sub-r2,

    #red3:checked ~ .hero img.r34,
    #red3:checked ~ .sub-hero img.sub-r3,

    #blue1:checked ~ .hero img.b14,
    #blue1:checked ~ .sub-hero img.sub-b1,

    #blue2:checked ~ .hero img.b24,
    #blue2:checked ~ .sub-hero img.sub-b2,

    #blue3:checked ~ .hero img.b34,
    #blue3:checked ~ .sub-hero img.sub-b3,

    #green1:checked ~ .hero img.g14,
    #green1:checked ~ .sub-hero img.sub-g1,

    #green2:checked ~ .hero img.g24,
    #green2:checked ~ .sub-hero img.sub-g2,

    #green3:checked ~ .hero img.g34,
    #green3:checked ~ .sub-hero img.sub-g3,

    #shadow1:checked ~ .hero img.s14,
    #shadow1:checked ~ .sub-hero img.sub-s1,

    #shadow2:checked ~ .hero img.s24,
    #shadow2:checked ~ .sub-hero img.sub-s2,

    #shadow3:checked ~ .hero img.s34,
    #shadow3:checked ~ .sub-hero img.sub-s3
    {
        opacity: 1;
        z-index: 2; /*needs that here... but only for the subs*/
    }
    /* makes it to where when you select a sub, the hero image disapears meaning there wont be an overlay of that image */
    #shadow-selector35:checked ~ .hero .s34,
    #shadow-selector33:checked ~ .hero .s34,
    #shadow-selector32:checked ~ .hero .s34,
    #shadow-selector31:checked ~ .hero .s34,

    #red-selector11:checked ~ .hero .r14,
    #red-selector12:checked ~ .hero .r14,
    #red-selector13:checked ~ .hero .r14,
    #red-selector15:checked ~ .hero .r14,

    #red-selector21:checked ~ .hero .r24,
    #red-selector22:checked ~ .hero .r24,
    #red-selector23:checked ~ .hero .r24,
    #red-selector25:checked ~ .hero .r24,

    #red-selector31:checked ~ .hero .r34,
    #red-selector32:checked ~ .hero .r34,
    #red-selector33:checked ~ .hero .r34,
    #red-selector35:checked ~ .hero .r34,

    #blue-selector11:checked ~ .hero .b14,
    #blue-selector12:checked ~ .hero .b14,
    #blue-selector13:checked ~ .hero .b14,
    #blue-selector15:checked ~ .hero .b14,

    #blue-selector21:checked ~ .hero .b24,
    #blue-selector22:checked ~ .hero .b24,
    #blue-selector23:checked ~ .hero .b24,
    #blue-selector25:checked ~ .hero .b24,

    #blue-selector31:checked ~ .hero .b34,
    #blue-selector32:checked ~ .hero .b34,
    #blue-selector33:checked ~ .hero .b34,
    #blue-selector35:checked ~ .hero .b34,

    #green-selector11:checked ~ .hero .g14,
    #green-selector12:checked ~ .hero .g14,
    #green-selector13:checked ~ .hero .g14,
    #green-selector15:checked ~ .hero .g14,

    #green-selector21:checked ~ .hero .g24,
    #green-selector22:checked ~ .hero .g24,
    #green-selector23:checked ~ .hero .g24,
    #green-selector25:checked ~ .hero .g24,

    #green-selector31:checked ~ .hero .g34,
    #green-selector32:checked ~ .hero .g34,
    #green-selector33:checked ~ .hero .g34,
    #green-selector35:checked ~ .hero .g34,

    #shadow-selector11:checked ~ .hero .s14,
    #shadow-selector12:checked ~ .hero .s14,
    #shadow-selector13:checked ~ .hero .s14,
    #shadow-selector15:checked ~ .hero .s14,

    #shadow-selector21:checked ~ .hero .s24,
    #shadow-selector22:checked ~ .hero .s24,
    #shadow-selector23:checked ~ .hero .s24,
    #shadow-selector25:checked ~ .hero .s24,

    #shadow-selector31:checked ~ .hero .s34,
    #shadow-selector32:checked ~ .hero .s34,
    #shadow-selector33:checked ~ .hero .s34,
    #shadow-selector35:checked ~ .hero .s34
    {
        display: none;
    }

    /* #red2:checked ~ .hero img.r11{
        opacity: 0;
    } */

    /* #red1:checked ~ .hero img.r1,      UNTILL I CAN FIGURE THIS OUT, IT WILL BE A PLACEHOLDER FOR THE TIME BEING
    #red2:checked ~ .hero img.r2,
    #red3:checked ~ .hero img.r3,
    #blue1:checked ~ .hero img.b1,
    #blue2:checked ~ .hero img.b2,
    #blue3:checked ~ .hero img.b3,
    #green1:checked ~ .hero img.g1,
    #green2:checked ~ .hero img.g2,
    #green3:checked ~ .hero img.g3,
    #shadow1:checked ~ .hero img.s1,
    #shadow2:checked ~ .hero img.s2,
    #shadow3:checked ~ .hero img.s3{
        opacity: 1;
    } */




    /* below is for keeping the button toggled, look like its toggled */
    /* .left-cars #red1:checked ~ .sub-hero .right-selectors .gets-margin .color-widh-dropdown .dropdown-content .two-colors .named-color .r1 */
    .container:has(#red1:checked) .right-selectors .r1,
    .container:has(#red2:checked) .right-selectors .r2,
    .container:has(#red3:checked) .right-selectors .r5, /*remember that r5 is the area... r3 is id... which is because we have 3 reds*/
    
    .container:has(#blue1:checked) .right-selectors .b1,
    .container:has(#blue2:checked) .right-selectors .b2,
    .container:has(#blue3:checked) .right-selectors .b5,

    .container:has(#green1:checked) .right-selectors .g1,
    .container:has(#green2:checked) .right-selectors .g2,
    .container:has(#green3:checked) .right-selectors .g5,

    .container:has(#shadow1:checked) .right-selectors .s1,
    .container:has(#shadow2:checked) .right-selectors .s4,
    .container:has(#shadow3:checked) .right-selectors .s6,

    /* below is used for the interior */
    .container:has(#itn-red1:checked) .right-selectors .r1,
    .container:has(#itn-red2:checked) .right-selectors .r2,
    .container:has(#itn-red3:checked) .right-selectors .r5,

    .container:has(#itn-blue1:checked) .right-selectors .b1,
    .container:has(#itn-blue2:checked) .right-selectors .b2,
    .container:has(#itn-blue3:checked) .right-selectors .b5,

    .container:has(#itn-green1:checked) .right-selectors .g1,
    .container:has(#itn-green2:checked) .right-selectors .g2,
    .container:has(#itn-green3:checked) .right-selectors .g5,

    .container:has(#itn-shadow1:checked) .right-selectors .s1,
    .container:has(#itn-shadow2:checked) .right-selectors .s4,
    .container:has(#itn-shadow3:checked) .right-selectors .s6




    
    {
        scale: .95;
        border: 2px solid #0073E6; /*lets the user know its selected*/
    }


    .option img{
        transition: all 0.3s;
    }
    .option img:hover{
        scale: .95;
    }
    


    /* the the bottom buttons */
    .go-to-buttons{
        /* height: 3vw; */
        gap: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-bottom: 2vw; */
        /* padding-bottom: 2vw; */
    }
    .go-to-buttons a{
        text-decoration: none;
        color: white;
    }
    .go-to-buttons .but{
        display: flex;
        width: 15vw;
        justify-self: center;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: #0073E6 3px solid;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
        font-weight: var(--semi-bold);
        
    }
    /* .go-to-buttons .but1{
        margin-top: 3vw;
    }
    .go-to-buttons .but2{
        margin-bottom: 2vw; /*got rid of this because i fixed it with the one below
    } */
    .go-to-buttons{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .go-to-buttons .but:hover{
        background-color: #0073E6;
    }
    .go-to-buttons .but:focus{
        outline: 3px solid #80bfff;
    }

    .go-to-buttons .but h3{
        margin-left: 1vw;
    }
    .go-to-buttons .but img{
        margin-right: 1vw;
    }






/* media querries */

@media(max-width: 1400px){
    .color-arrow{
        /* border: var(--border1); */
        /* height: 7vw; */
        margin-top: 5vw;
    }
}

@media (max-width:1200px){
    .go-to-buttons .but{
        width: 20vw;
    }
}

@media(max-width: 1086px){
    .go-to-buttons .but1{
        margin-top: 7vw;
    }
}
/* the transition from desktop to mobile */

@media (max-width: 1050px){
    .container{
        display: block; /*the woo meme*/
        width: 100vw;
    }
    .left-cars{
        /* border: var(--border1); */
        /* width: 100%; */
        width: 80%;
        /* height: auto; */
        /* margin-left: 5vw; */
    }
    .left-cars .hero{
        margin-left: 10vw;
    }
    .left-cars .sub-hero{
        margin-top: 20vw;
        margin-left: 10vw;
    }
    .right-selectors{
        margin-top: 25vw;
        /* border: var(--border1); */
        width: 100%;
    }
    footer{
        margin-top: 90vw !important; /*getting it out of there*/
        /* height: 4000px; */
    }




    /* container for zoom in */




.zoom-in{
    /* position: absolute; */
    bottom: 9%;
    right: -9%;
    /* scale: 2; */
    z-index: 2;
    height: 3.6vw;
    width: 3.6vw;
}
#zoom:checked ~ .left-cars .zoom-in .zoom-out{
    z-index: 3;
    scale: 2;
    height: 3.6vw;
    width: 3.6vw;
    display: block;
    visibility: visible;
    opacity: 1;
    margin-left: 15vw;
    margin-top: 8vw;
}
.zoom-in .zoom-out{
    opacity: 0;
    margin-left: 24vw;
    margin-top: 3vw;
    visibility: hidden;
    height: 0;
    width: 0;
    transition: all 0.5s;
}



/* end container for zoom */

.color-arrow{
    margin-top: 0;
}
.go-to-buttons .but{
    margin: 0;
    width: 30vw;

}

.color-widh-dropdown .dropdown-content{
    margin-top: 2vw;
    margin-bottom: 2vw;
    /* border: var(--border3); */
}
}

@media (max-width: 969px){
    /* .color-arrow{
        justify-content: center;
        gap: 23vw;
        width: ;
    } */
     .dropdown-content .two-colors{
        height: 20vw;
     }

     /* figuring otu the sub-hero nanage */
     .sub-hero{
        gap: 32vw !important;
        margin-left: 0;
        overflow-x: scroll;
        height: 30vw !important;
        /* margin-bottom: 10vw; */

     }
     .sub-hero .option{
        width: 30vw;
        /* height: 20vw; */
        /* height: auto; */
        /* height: 40vw; */
        /* border: var(--border2); */
        /* gap: 10vw !important; */
     }
     .option img{
        /* height: 100%; */
        width: 27vw !important;
     }

     /* messing with the below colors */
     .right-selectors{
        margin-top: 40vw;
        height: 100%;

     }

     footer{
        margin-top: 100vw !important;
     }
     .go-to-buttons{
        margin: 0;
        /* border: 3px solid black; */
        height: 30vw;
     }
}

@media (max-width:645px){

    /* zoom in  */
    .zoom-in{
        /* position: absolute; */
        bottom: 9%;
        right: -9%;
        /* scale: 2; */
        z-index: 2;
        height: 3.6vw;
        width: 3.6vw;
    }
    .zoom-in-two{
        margin-left: -3vw;
        margin-top: -21vw;
    }
    #zoom:checked ~ .left-cars .zoom-in .zoom-out{
        margin-left: 15vw !important;
        margin-top: 7vw;
    }
    .zoom-in .zoom-out{
        margin-left: 18vw !important;
        margin-top: 3vw;

    }
    /* zoom in  */
}

@media(max-width: 500px){
    .zoom-in .zoom-in-two{
        scale: .55;
    }
    #zoom:checked ~ .left-cars .zoom-in .zoom-out{
        margin-left: 15vw !important;
        margin-top: 4vw;
    }
}

@media (max-width:440px){
    .dropdown-content{
        /* border: 2px solid white; */
        margin-bottom: 10vw !important;
    }
    .go-to-buttons .but{
        width: 50vw;
    }
}





/* below is all for the interior page... notice how im not using 
a whole new page for it... all im doing is replacing the varalbes 
to make sure nothing <em>funny</em> happens*/

#itn-red1:checked ~ .hero .itn-r1,
#itn-red2:checked ~ .hero .itn-r2,
#itn-red3:checked ~ .hero .itn-r3,

#itn-blue1:checked ~ .hero .itn-b1,
#itn-blue2:checked ~ .hero .itn-b2,
#itn-blue3:checked ~ .hero .itn-b3,

#itn-green1:checked ~ .hero .itn-g1,
#itn-green2:checked ~ .hero .itn-g2,
#itn-green3:checked ~ .hero .itn-g3,

#itn-shadow1:checked ~ .hero .itn-s1,
#itn-shadow2:checked ~ .hero .itn-s2,
#itn-shadow3:checked ~ .hero .itn-s3
{
    opacity: 1;
}
