/* use this when you are linking things such as
'shipping info', 'shopping info', and even 'payments info' */

/* note to self... apend everything with ca... or something like that */

/*  i will totally re-do this... LATER for now i need to make sure the base content gets down */
:root{
    font-size: 16px;
}
body{
    overflow: auto;
}
.containerc-aside{
    color: white;
    display: flex;
    margin-top: 5.902777vw;
    margin-left: 2.08333vw;
    margin-right: 2.08333vw;
    justify-content: space-between;

}
.containerc-aside .leftc-aside h2:nth-child(1){ /*MAKE THIS THE ONE YOU ARE HAVING GRAYED OUT*/
    color: #A1A1A1;
}
.leftc-aside{
    width: 33.194444vw;
    height: 56.73611vw;
    /* background-color: rgba(0, 0, 0, 0.349); */
    
}
.headingc-aside{
    height: 10.41vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headingc-aside h2{
    font-size: 1.5rem;
    font-weight: var(--regular);
}
aside.leftc-aside > h2{
    margin-top: 2.0833vw;
    margin-bottom: 3.0555vw;
}

aside.leftc-aside .pricesc-aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 8.33333vw;
}
.leftc-aside .order-summery h2{
    color: white !important; /*no idea wahts wrong with this here*/
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.pricesc-aside h3:nth-child(even) {
    display: flex;
    justify-content: flex-end;
}
.leftc-aside .pricesc-aside h3,
.bag-flexc-aside .bag-infoc-aside h4,
.bag-flexc-aside .bag-infoc-aside h5{
    /* border: var(--bb); */
    width: 49%;
}

aside.leftc-aside .prices h3{
    font-weight: var(--light);
    width: 50%;
    font-size: 1.5rem;
}

aside.leftc-aside hr{
    display: block;
}

.totalc-aside hr:nth-child(1){
    margin-top: 3.26388vw;
}

.totalc-aside hr:nth-child(3){
    margin-bottom: 1.5277vw;
}

.totalc-aside .total-pricingc-aside{
    display: flex;
    justify-content: space-between;
    margin-top: 1.52777vw;
    margin-bottom: 1.52777vw;
    font-size: 1.5rem;
}

.totalc-aside .total-pricingc-aside h3:nth-child(1){
    font-size: var(--semi-bold);
}

.bag-flexc-aside{
    display: flex;
    gap: 1.944vw;
}
.your-bagc-aside h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 1.527777vw;
}

.your-bagc-aside img{
    width: 11.11111vw;
    height: fit-content;
}

.bag-flexc-aside .bag-infoc-aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 1.944vw; */
}
.bag-flexc-aside .bag-infoc-aside h4,
.bag-flexc-aside .bag-infoc-aside h5{
    font-size: 1.5rem;
    width: 47%;
}



.flexing{
    display: flex;
    width: 100%;
}
.flexing h3{
    font-weight: var(--light);
}




.rightc-aside{
    width: 47.9166vw;
    height: 82.569444vw;
    /* background-color: #A1A1A1; */
}

.bag-infoc-aside .flexing h5:nth-child(3){
    border: black 2px solid;
}




@media (max-width: 1210px){
    :root{
        font-size: 12px;
    }
    .leftc-aside .pricesc-aside h3{
        width: 45%;
    }
}
@media (max-width: 723px){
    :root{
        font-size: 12px;
    }
   .containerc-aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    /* border: 2px solid red; */
    margin-left: 0;
    margin-right: 0;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
   }
   .leftc-aside{
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column; /*yup, it was flex*/
   }
   /* ONLY ORDER HERE */
   .leftc-aside .headingc-aside{
        order: 0;
   }
   .leftc-aside .order-summery{
        order: 4;
   }
   .leftc-aside .pricesc-aside{
        order: 3;
   }
   .leftc-aside .totalc-aside{
        order: 5;
   }
   .leftc-aside .your-bagc-aside{
        order: 1;
   }/* ONLY ORDER HERE */

   .order-summery{
        margin-top: 3vw;
   }

   .bag-flexc-aside{
    display: flex;
    flex-direction: column;
   }
   .bag-flexc-aside img{
    width: 100%;
   }
    .headingc-aside{
        margin-bottom: 10vw;
    }
   .headingc-aside h2{
    /* border: 2px solid green; */
    font-size: 3rem;
   }
   .bag-infoc-aside h4{
    /* font-size: 55rem !important; */
   }
}

   @media (max-width: 665px) {
    /* :root{
        font-size: 10px;
    } */
     .your-bagc-aside{
        margin-top: 10vw;
     }
    
   }
   @media (max-width: 505px){
    .order-summery{
        margin-top: 13vw;
    }
   }
   @media (max-width: 473px){
    .headingc-aside h2{
        font-size: 2.25rem;
    }
    .pricesc-aside{
        margin-top: 5vw;
    }
   }
@media (max-width: 440px){
    .bag-infoc-aside h4:nth-child(3),
    .bag-infoc-aside h4:nth-child(4),
    .bag-infoc-aside h4:nth-child(5),
    .bag-infoc-aside h4:nth-child(6),
    .bag-infoc-aside h4:nth-child(8){
        border: 3px solid red;
        width: fit-content;
    }
    .bag-infoc-aside h4:nth-child(4),
    .bag-infoc-aside h4:nth-child(6){
        margin-right: 40%;
        margin-left: 0;
        /* width: 30%; */
        /* align-items: center; */
        text-align: center;
    }
    .bag-infoc-aside h4:nth-child(4){
        display: flex;
        right: 140%;
    }
}
