* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

body {
    /* height: 69420px; */
    background-color: #050133;
}
.hidden{ /*hides the image options*/
    /* display: none; */
    margin-top: 5vw; /*yeah i have no idea why this works lmao*/
}
.hiddenbn{
    display: none;
}






.top-containermh {
    position: relative;
}

.hero-imgmh img{
    width: 100%;
    display: block;
}

.bit-o-textmh {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 5%; /* Align text to the left with a margin */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
    color: white;
    text-align: left;
}

.bit-o-textmh h2 {
    color: #0073E6;
    font-size: 4em;
    margin: 0;
}

.bit-o-textmh h3 {
    font-size: 2em;
    color: white;
    margin: 0;
}

.all-merch-buttonmh{
    display: flex;
    margin-top: 4.930vw;
    width: 48.61vw;
    height: 6.944vw;
    background-color: #003B76;
    font-size: 2.5em;
    color: white;
    justify-content: center;
    align-items: center;
}
.four-clothingmh {
display: flex;
flex-direction: column;
justify-content: space-between;
/* flex-grow: 1; */
gap: 1rem;
height: 100%;
}
.two-cardsmh {
    width: 100%;
display: flex;
gap: 1rem; /* Spacing between items in the row */
justify-content: space-between;

}

.lil-sectionmh{
    margin-top: 3.5416666vw;
    justify-content: space-between;
    color: white;
    display: flex;
}

.left-lsmh{
    margin-left: 2.4305vw;
    display: flex;
    align-items: center;
}
.left-lsmh img{
    width: 2.4305vw;
}
.left-lsmh p{
    font-size: 1.5em;
    margin-left: .83vw;
}
.right-lsmh{
    margin-right: 2.4305vw;
    color: #A1A1A1;
    font-size: 1.5em;
}





.entire-sectionmh {
    height: 92.9;
    margin-top: 1.736vw;
display: flex;
gap: 2rem;
align-items: stretch; /* Make both sections align with the tallest one */
}


.entire-sectionmh:nth-child(1) .mini-heromh {
    flex-direction: row-reverse;
    margin-left: 2.0833vw;
}
.entire-sectionmh:nth-child(2){
    flex-direction: row-reverse;
    margin-right: 2.0833vw;
}
.entire-sectionmh:nth-child(3){
    margin-left: 2.0833vw;
}
.mini-heromh {
height: auto; /* Let the height of mini-hero adapt to the flex container */
max-height: 100%; /* Ensure it doesn't exceed the calculated height */
width: auto;
object-fit: cover; /* Ensure the image scales proportionally */

}
.entire-sectionmh .mini-heromh{
    height: 100%;
}

.one-clothingmh{
color: white;
width: 23.055vw;
/* width: 100%; */
}
.white{
    display: flex;
    position: relative;
    background-color: white;
    width: 23.055vw;
    height: 32.91vw;
    transition: all .5s;
}
.sub-container img{
    position: absolute;

}

.one-clothingmh .white img {
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
/* this ended up fixint the tote bag issue */
    .one-clothingmh .white.sub-container img {
        transition: all .5s;
    }
    .one-clothingmh .white.sub-container img:hover {
        transform: scale(0.95);
    }
/* up to there */

.one-clothingmh img {
    background-color: white;
    /* width: 23.055vw; */
    width: 100%;
    object-fit: cover; /*idk what this does, i just got reccomended it*/
    transition: all 0.3s ease;
}

.one-clothingmh h3 {
    font-size: 2em;
}

.one-clothingmh p {
    font-size: 1.5em;
    font-weight: 300 !important;
}

/* container for changing the type of merch based on which button gets pressed */






























        /* below is strictelly for the images */
.one-clothingmh:has(.colorsmh input[type="radio"].one-onec:checked) .one-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].one-twoc:checked) .one-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].one-threec:checked) .one-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].one-fourc:checked) .one-fouri,


.one-clothingmh:has(.colorsmh input[type="radio"].two-onec:checked) .two-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].two-twoc:checked) .two-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].two-threec:checked) .two-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].two-fourc:checked) .two-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].three-onec:checked) .three-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].three-twoc:checked) .three-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].three-threec:checked) .three-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].three-fourc:checked) .three-fouri,


.one-clothingmh:has(.colorsmh input[type="radio"].four-onec:checked) .four-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].four-twoc:checked) .four-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].four-threec:checked) .four-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].four-fourc:checked) .four-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].five-onec:checked) .five-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].five-twoc:checked) .five-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].five-threec:checked) .five-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].five-fourc:checked) .five-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].six-onec:checked) .six-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].six-twoc:checked) .six-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].six-threec:checked) .six-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].six-fourc:checked) .six-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].seven-onec:checked) .seven-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-twoc:checked) .seven-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-threec:checked) .seven-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-fourc:checked) .seven-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].eight-onec:checked) .eight-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-twoc:checked) .eight-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-threec:checked) .eight-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-fourc:checked) .eight-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].nine-onec:checked) .nine-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-twoc:checked) .nine-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-threec:checked) .nine-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-fourc:checked) .nine-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].ten-onec:checked) .ten-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-twoc:checked) .ten-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-threec:checked) .ten-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-fourc:checked) .ten-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].eleven-onec:checked) .eleven-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-twoc:checked) .eleven-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-threec:checked) .eleven-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-fourc:checked) .eleven-fouri,

.one-clothingmh:has(.colorsmh input[type="radio"].twelve-onec:checked) .twelve-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-twoc:checked) .twelve-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-threec:checked) .twelve-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-fourc:checked) .twelve-fouri



{
    opacity: 1;
    visibility: visible;
}




.one-clothingmh:has(.colorsmh input[type="radio"].one-twoc:checked) .one-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].one-threec:checked) .one-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].one-fourc:checked) .one-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].two-twoc:checked) .two-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].two-threec:checked) .two-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].two-fourc:checked) .two-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].three-twoc:checked) .three-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].three-threec:checked) .three-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].three-fourc:checked) .three-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].four-twoc:checked) .four-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].four-threec:checked) .four-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].four-fourc:checked) .four-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].five-twoc:checked) .five-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].five-threec:checked) .five-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].five-fourc:checked) .five-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].six-twoc:checked) .six-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].six-threec:checked) .six-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].six-fourc:checked) .six-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].seven-twoc:checked) .seven-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-threec:checked) .seven-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-fourc:checked) .seven-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].eight-twoc:checked) .eight-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-threec:checked) .eight-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-fourc:checked) .eight-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].nine-twoc:checked) .nine-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-threec:checked) .nine-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-fourc:checked) .nine-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].ten-twoc:checked) .ten-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-threec:checked) .ten-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-fourc:checked) .ten-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].eleven-twoc:checked) .eleven-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-threec:checked) .eleven-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-fourc:checked) .eleven-onei,

.one-clothingmh:has(.colorsmh input[type="radio"].twelve-twoc:checked) .twelve-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-threec:checked) .twelve-onei,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-fourc:checked) .twelve-onei

{
    display: none;
}




        /* below is strictelly for the buttons */
.one-clothingmh:has(.colorsmh input[type="radio"].one-twoc:checked) .one-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].one-threec:checked) .one-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].one-fourc:checked) .one-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].two-twoc:checked) .two-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].two-threec:checked) .two-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].two-fourc:checked) .two-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].three-twoc:checked) .three-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].three-threec:checked) .three-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].three-fourc:checked) .three-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].four-twoc:checked) .four-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].four-threec:checked) .four-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].four-fourc:checked) .four-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].five-twoc:checked) .five-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].five-threec:checked) .five-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].five-fourc:checked) .five-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].six-twoc:checked) .six-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].six-threec:checked) .six-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].six-fourc:checked) .six-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].seven-twoc:checked) .seven-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-threec:checked) .seven-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-fourc:checked) .seven-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].eight-twoc:checked) .eight-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-threec:checked) .eight-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-fourc:checked) .eight-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].nine-twoc:checked) .nine-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-threec:checked) .nine-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-fourc:checked) .nine-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].ten-twoc:checked) .ten-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-threec:checked) .ten-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-fourc:checked) .ten-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].eleven-twoc:checked) .eleven-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-threec:checked) .eleven-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-fourc:checked) .eleven-fourbutt,

.one-clothingmh:has(.colorsmh input[type="radio"].twelve-twoc:checked) .twelve-twobutt,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-threec:checked) .twelve-threebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-fourc:checked) .twelve-fourbutt

{
    display: block;
}



.one-clothingmh:has(.colorsmh input[type="radio"].one-twoc:checked) .one-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].one-threec:checked) .one-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].one-fourc:checked) .one-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].two-twoc:checked) .two-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].two-threec:checked) .two-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].two-fourc:checked) .two-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].three-twoc:checked) .three-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].three-threec:checked) .three-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].three-fourc:checked) .three-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].four-twoc:checked) .four-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].four-threec:checked) .four-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].four-fourc:checked) .four-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].five-twoc:checked) .five-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].five-threec:checked) .five-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].five-fourc:checked) .five-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].six-twoc:checked) .six-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].six-threec:checked) .six-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].six-fourc:checked) .six-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].seven-twoc:checked) .seven-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-threec:checked) .seven-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].seven-fourc:checked) .seven-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].eight-twoc:checked) .eight-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-threec:checked) .eight-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eight-fourc:checked) .eight-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].nine-twoc:checked) .nine-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-threec:checked) .nine-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].nine-fourc:checked) .nine-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].ten-twoc:checked) .ten-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-threec:checked) .ten-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].ten-fourc:checked) .ten-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].eleven-twoc:checked) .eleven-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-threec:checked) .eleven-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].eleven-fourc:checked) .eleven-onebutt,

.one-clothingmh:has(.colorsmh input[type="radio"].twelve-twoc:checked) .twelve-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-threec:checked) .twelve-onebutt,
.one-clothingmh:has(.colorsmh input[type="radio"].twelve-fourc:checked) .twelve-onebutt

{
    display: none;
}


/* has to add a little bit logic to get the rest to work the way i want them to */

.scale-down{

    width: 100%;
    display: flex;

}

.one-clothingmh .white img.ten-twoi,
.one-clothingmh .white img.ten-threei,
.one-clothingmh .white img.ten-fouri
{
    /* border: 2px solid pink; */
    scale: .95;
    height: 100%;
    width: 80%;
    /* margin-left: auto; */
    margin-left: 2.3vw;
    /* margin-right: auto; */
}
.ten-onei{
    /* height: 100%; */
    /* margin-left: 1vw; */
    scale: .95; /*eyeballed*/
    /* border: 2px solid blue; */
}
.eleven-onei,
.twelve-onei,
.six-onei,
.four-onei,
.one-onei{
    margin-top: 5vw;
}
.four-onei{
    /* height: 100%; */
}


/* .colorsmh input[type="radio"] .two-twoi,
.colorsmh input[type="radio"] .two-threei,
.colorsmh input[type="radio"] .two-fouri{
    opacity: 0;
}
.one-clothingmh:has(.colorsmh input[type="radio"].two-twoc:checked) .two-twoi,
.one-clothingmh:has(.colorsmh input[type="radio"].two-threec:checked) .two-threei,
.one-clothingmh:has(.colorsmh input[type="radio"].two-fourc:checked) .two-fouri{
    animation-delay: 2s;
    opacity: 1;
} */






































































/* 
.white img:hover,
.white a:hover{ /*the 'a' is nessesary to get the hovering over tote bag working
    scale: 0.95;
} */

.one-clothingmh .white img:hover {
    scale: .95;
}

.colorsmh {
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 4vw;
    display: flex;
    gap: 1.4vw;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

/* Hide the default radio buttons */
.color-inputmh {
    display: none;
}

/* Style the color circle container */
.color-labelmh {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Circle styles */
.color-labelmh span {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.315) 2px solid;
    display: inline-block;
    transition: 0.2s all;
}

.color-blackmh {
    background-color: black;
    box-sizing: border-box;
}

.color-whitemh {
    background-color: white;
    box-sizing: border-box;
}

.color-bluemh {
    background-color: blue;
    box-sizing: border-box;
}

.color-redmh {
    background-color: red;
    box-sizing: border-box;
}

/* Highlight the selected color */
.color-inputmh:checked + span {
    border: white 2px solid;
}
.color-inputmh:checked ~ .color-whitemh {
    border: rgb(0, 0, 0) 2px solid; /*had to add because whose going to see the white frfr*/
}

/* Style the Add to Cart button */
.add-to-cartmh{
    margin-top: auto;
    width: 100%;
    /* height: 7%; */
    font-size: 1.25em;
    border: #0073E6 3px solid;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
}
.add-to-cartmh2{
    /* border: 21px solid green; */
    text-align: center;
}
.add-to-cartmh2{
    display: flex;
    justify-self: center;
    text-align: center;
    align-self: center;
    align-items: center;
    /* align-content: center; */
    margin-top: auto;
    width: 100%;
    font-size: 1.25em;
    border: #0073E6 3px solid;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
}
.add-to-cartmh:hover {
    background-color: #0073E6;
    color: #050133;
}

.add-to-cartmh:active {
    transform: scale(0.95); /*kek*/
}
.bot-buttons{
    margin-top: 3vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    gap: 2vw;
    /* width: 15%; */
    /* align-items: center; */
    /* align-self: center; */
    justify-content: center;
    /* justify-self: center; */
    /* justify-content: space-between; */
    /* text-align: center; */
    /* border: 2px solid green; */
}
.bot-buttons button{
    width: 6vw;
    height: 6vw;
    /* display: flex; */
    background-color: #0073E6;
    border: none;
    transition: all 0.2s ease;
    font-size: 2em;
}
.bot-buttons button:hover{
    scale: 0.95;
}

.bot-buttons a button{
    color: white;
    text-decoration: none;
}


 @media (max-width: 1366px){
    .one-clothingmh h3{
        height: 7vw;
    }
 }
 @media (max-width: 1000px){
    .one-clothingmh h3{
        margin-bottom: 5vw;
        font-size: 1.5em;
    }
 }
@media (max-width: 692px){
    .entire-sectionmh{
        gap: 0;
    }
    .bit-o-textmh{
        width: 70%;
    }
    .bit-o-textmh h2{
        font-size: 2em;
    }
    .bit-o-textmh h3{
        font-size: 1.5em;
    }
    .jazzmh .mini-heromh{
       display: none;
    }
    .four-clothingmh{
       /* display: flex; */
       /* align-content: center; */
       justify-content: center;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       /* border: 2px solid green; */
       /* margin-top: 10vw; used for texting only */
       /* gap: 0; */
       /* width: 30%; */
    }
    .two-cardsmh h3{
        font-size: 1em;
        /* background-color: black; */
        height: 5vw;
        margin-bottom: 2vw;
    }




    .one-clothingmh{
        text-align: center;
    }
    .colorsmh{
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .add-to-cartmh{
        font-size: 1em;
    }


   }
@media (max-width: 632px){
    .all-merch-buttonmh p{
        font-size: .6em;
    }
    .bot-buttons button{
        width: 10vw;
        height: 10vw;
    }
}
@media (max-width: 592px){
    .add-to-cartmh{
        font-size: .7em;
    }
    .two-cardsmh h3{
        margin-bottom: 4vw;
    }
}
@media (max-width: 474px){
    .add-to-cartmh{
        font-size: .6em;
    }
}