body{
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.menuhhh .two-menuhhh{
    /* border: 2px solid green; */
    flex-direction: row;
}


.container{
    display: flex;
}
.left{
    height: 66.736vw;
    width: 39.1944vw;
    /* background-color: black; */
    margin-left: 2.0833vw;
    /* border: 3px rgb(62, 87, 5) solid; */
}
.left .steps h3,
.left .steps h4{
    font-size: 2em;
}
.left .steps h4{
    color: #A1A1A1;
}
.left .steps h2{
    /* color: black; */
    margin-top: 2.291vw;
    margin-bottom: 3.0555vw;
    font-size: 2em;
}
.subtotal .break{
    font-size: 1.5em;
    /* color: #ffffff; */
}
.break{
    display: flex;
    justify-content: space-between;
}
.total{
    margin-top: 3.263vw;
    /* border: 3px solid yellow; */
}
.info{
    /* border: 3px solid green; */
    width: 100%;
}

.info > h2:first-of-type {
    font-size: 2em;
    margin-top: 1.5277vw;
    margin-bottom: 1.5277vw;
}

.containerc-aside .leftc-aside h2:nth-child(2){ /*MAKE THIS THE ONE YOU ARE HAVING GRAYED OUT*/
color: #A1A1A1;
}
.shipping-options a button{
    color: white;
    background-color: #0073E6;
    width: 100%;
    height: 3.6vw;
    font-size: 1.5rem;
    font-weight: var(--semi-bold);
    border: none;
    transition: all 0.3s;
}
.shipping-options a button:hover{
scale: .95;
background-color: #005bb5;
}
.shipping-options a button:focus{
    outline: 3px solid #80bfff;
}






.info .trucker h2,
.info .size h2,
.info .color h2,
.info .quantity h2,
.info .trucker strong,
.info .size strong,
.info .color strong,
.info .quantity strong{
    font-size: 1.5em;
}
.total .total-price{
    display: flex;
    justify-content: space-between;
    margin-top: 1.527vw;
    margin-bottom: 1.527vw;
    font-size: 1.5em;
}
.below{ /*LMAO I WAS SO TIRED I WAS ADDING CSS TO ANOTHER FILE (made sure to fix it) LIKE IW AS EDITING AND WAS ALL LIKE 'bruv why wont this work?'*/
    display: flex;
    width: 100%;
    height: 25.863vw;
}
.below img{
    width: 15.111vw;
    height: 100%;
    /* border: red 3px solid; */
    object-fit: cover;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-left: 1.805555vw;
}
.content .trucker{
    align-items: center;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    /* border: 3px white solid; */
}
.content h2, .content strong, .content a{
    font-size: 2em;
}
.content a{
    color: white;
}
.content .size,
.content .color,
.content .quantity{
    display: flex;
    align-items: center;
}






.right{
    margin-left: 14.7222vw;
}
.right .shipping-methods{
    margin-bottom: 2.2222vw;
    font-size: 2em;
}
.right .shipping-options {
width: 47.9166vw;
/* margin-left: 14.7222vw; */
/* margin: 0 auto; */
display: flex;
flex-direction: column;
gap: 2.847vw;
}


.option {
display: flex;
align-items: flex-start;
gap: 1rem;
/* background-color: #1c1748; Slightly lighter background for options */
padding: 1rem;
border-radius: 8px;
/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
/* border: 3px red solid; */
}
.option strong, .option p{
font-size: 1.5em;
}
input[type="radio"] {
margin-top: 0.5rem; /* Align checkbox visually */
/* width: 2.083vw; */
transform: scale(1.8); /*looks Bout' right*/
}

label {
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.right .button{
display: flex;
background-color: #0073E6;
width: 100%;
height: 3.6111vw;
align-items: center;
justify-content: center;
/* color: white; */
transition: all 0.1s ease;
}
a .button{
text-decoration: none;
color: white;
font-size: 1.5em;
}
.button:active{
transform: scale(0.95);
}
a:visited{
text-decoration: none;
color: white;
}


/* YEAH I HAVE NO IDEA WAHY THIS HAS A UNDERLINE ON IT!!!! */



@media (max-width: 1380px){
.content {
    font-size: .75em;
}
}
@media (max-width: 1263px){
.right .shipping-methods h2{
    font-size: 2em;
}
}
@media (max-width: 829px){
.steps{
    font-size: .80em;
}
.right .shipping-methods h2{
    font-size: 1em;
}
.option strong{
    font-size: 1.25em;
}
.option p{
    font-size: 1em;
}
.shipping-options .button{
    height: 7vw;
}
.shipping-options a{
    font-size: .8em;
}
.content{
    font-size: .66em;
}

}
@media (max-width: 723px){
.right .shipping-methods{
/* border: var(--border2); */
width: 100%;
}
.right{
    /* border: var(--border1); */
    /* width: 100%; */
    /* margin-right: auto; */
    /* margin-right: 10vw; */
    width: 85vw;
    margin-left: 0;
}


.shipping-options .option{
    /* border: var(--border3); */
    width: 75vw ;
}

.shipping-options a{
    width: 85vw;
}
.shipping-options a button{
    height: 7vw;
}
}

@media (max-width: 440px){
    .right .shipping-methods h2{
    font-size: 1.5rem;
    }
}